<!DOCTYPE html>
<html lang=en>
    <head>
        <!-- head/meta goes here -->
        {% include "./_parts/head.njk" %}
        <!-- // -->
    </head>
    <body>
        <header>
            <!-- Header goes here -->
            {% include "./_parts/header.njk" %}
            <!-- // -->
        </header>
        <content id="archive">
            <section id="posts" class="">
                {{ content | safe }}
            </section>
            <!-- add pagination here -->
            <!-- // -->
            <!-- Page feedback goes here -->
            {% include "./_parts/feedback.njk" %}
            <!-- // -->
        </content>
        <footer>
            {% include "./_parts/footer.njk" %}
        </footer>
    </body>
</html>