<!DOCTYPE html>
<html lang=en>
    <head>
        {% include "./_parts/head.njk" %}
    </head>
    <body>
        <header>
            {% include "./_parts/header.njk" %}
        </header>
        <content id="archive">
            <section id="posts" class="">
                {{ content | safe }}
            </section>
            <!-- add pagination here -->
        </content>
        <footer>
            {% include "./_parts/footer.njk" %}
        </footer>
    </body>
</html>