<!DOCTYPE html>
<html lang=en>
    <head>
        <!-- To be moved to a dedicated file -->
        <meta charset = "utf-8">
        <title>Jason Bayton | {{ title }}</title>
        <meta name = "description" content = "The website of Jason Bayton">
        <meta name = "author" content = "Jason Bayton ">
        <meta name="twitter:site" content="@jasonbayton" />
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Jason Bayton | {{ title }}"/>
        <meta property="og:description" content="Page Subtitle"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://bayton.org"/>
        <meta property="og:image" content="/img/bayton.webp"/>
        <script src="/js/darkmode.js"></script>
        <link rel = "stylesheet" href = "/css/core.css">
        <link rel = "stylesheet" href = "/css/doc.css">
        <link rel = "stylesheet" href = "/css/webfonts.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

        <!-- -- -->
    </head>
    <body>
        <header>
        <!-- To be moved to a dedicated file -->
            <nav>
                <div id="navbar">
                    <div id="bayton_logo">
                    <!--img src="/img/bayton-logo.svg" /-->
                        <div id="bayton_text">
                            <a  href="/">Jason Bayton</a>
                        </div>
                    </div>
                    <div id="searchform" class="mobile-hidden">
                        <span class="fa fa-search" id="search_icon"></span>
                        <input type="text" name="search" id="searchinput" placeholder="Search..">
                    </div>
                    <div id="nav_links" class="mobile-hidden">
                        <div class="nav-link-individual">
                            <a href="/about">About</a>
                        </div>
                        <div class="nav-link-individual">
                            <a href="/blog">Blog</a>
                        </div>
                        <div class="nav-link-individual">
                            <a href="/android">Documentation</a>
                        </div>
                    </div>
                    <div id="darktoggle">
                    <i class="fas fa-clouds-moon"></i>
                    </div>
                </div>
            </nav>
        </header>
        <content id="home">
            <div id="banner_statement">
                <div class="banner-statement-individual">
                    Android Enterprise Expert
                </div>
                <div class="banner-statement-individual">
                    Enterprise Mobility Advocate
                </div>
                <div class="banner-statement-individual">
                    Product Leader
                </div>
            </div>
            <div id="Jason_Bayton">
                Jason Bayton
            </div>
            <section id="intro_block" class="home-section">
                <div id="intro_heading">
                    👋 Hello!
                </div>
                <div id="intro_text">
                    <p>I’ve dedicated over twelve years to Android, half of those catered towards Android’s use in 
                    enterprise. Today I’m considered a leading voice in Android Enterprise across the globe, and 
                    have attained several accolades including an award from Google for contributions to the 
                    Android community, Gold Product Expert status in the Android Enterprise Help Community, 
                    vExpert status from VMware for Android contributions, and more.</p>

                    <p>Android has been a passion of mine for many years, from picking up the original G1 through 
                    the years of modding and ROM customisations, to today building and deploying hundreds of 
                    thousands of managed Android devices around the globe. Everything I learn I write about here, 
                    and I hope my resources help you and your organisation to better understand and support 
                    Android in the enterprise, also.</p>
                </div>
                <div id="intro_android">
                    <img id="android_head" src="/img/logos/android.webp"/>
                    <p>Master Android in your enterprise with simple, easy to understand documentation</p>
                    <a id="android_doc_link" href="/android">📖 Read the docs</a>
                </div>
            </section>
            <section id="trusted_logos" class="home-section">
                <div id="trusted_container">
                    <div id="trusted_textgroup">
                        <h2 class="section-title">
                            I make relevant, up-to-date Android content for 200K visitors annually. <span id="trusted_tag">Some of the vendors I've assisted with include:</span>
                        </h2>
                    </div>
                    <div id="vendor_logo_container">
                        <div class="vendor-logo">
                            <img alt="" src="/img/logos/android.webp"/>
                        </div>
                        <div class="vendor-logo">
                            <img alt="" src="/img/logos/hmd.png"/>
                        </div>
                        <div class="vendor-logo">
                            <img alt="" src="/img/logos/citrix.png"/>
                        </div>
                        <div class="vendor-logo">
                            <img alt="" src="/img/logos/sam.png"/>
                        </div>
                        <div class="vendor-logo">
                            <img alt="" src="/img/logos/sony.png"/>
                        </div>
                        <div class="vendor-logo">
                            <img alt="" src="/img/logos/ms.png"/>
                        </div>
                        <div class="vendor-logo">
                            <img alt="" src="/img/logos/hg.png"/>
                        </div>
                        <div class="vendor-logo">
                            <img alt="" src="/img/logos/se.png"/>
                        </div>
                    </div>
                    <div id="vendor_disclaimer">
                        Have we worked together? Support me by <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOn4HrczzhJgdJQwb27Nt2IWIIZvuNlDmAz0DGKhcxO1t9wQ/viewform?usp=sf_link">adding your logo</a>!
                    </div>
                </div>
            </section>
            <section id="posts" class="home-section">
                <h2 class="section-title">
                    And I write about all of the topics that matter to me
                </h2>
                <div class="post-block">
                    <h3 class="post-title">
                        The decade that redefined Android in the enterprise
                    </h3>
                    <div class="post-summary">
                        2019 and, indeed, the decade has now drawn to a close; as the 20’s have now roared in, what better time to take a look back at how the 10’s 
                        saw the most popular mobile OS in today’s world evolve from being mostly unsuitable for enterprise to an obvious choice? ...
                    </div>
                    <div class="post-meta">
                        <div class="meta-single">
                            🗓 Jan 20, 2020
                        </div>
                        <div class="meta-single">
                            🏷 #enterprise               
                        </div>
                        <div class="meta-single">
                            ⏳ 37min read               
                        </div>   
                    </div>
                </div>
                <div class="post-block">
                    <h3 class="post-title">
                        The decade that redefined Android in the enterprise
                    </h3>
                    <div class="post-summary">
                        2019 and, indeed, the decade has now drawn to a close; as the 20’s have now roared in, what better time to take a look back at how the 10’s 
                        saw the most popular mobile OS in today’s world evolve from being mostly unsuitable for enterprise to an obvious choice? ...
                    </div>
                    <div class="post-meta">
                        <div class="meta-single">
                            🗓 Jan 20, 2020
                        </div>
                        <div class="meta-single">
                            🏷 #enterprise               
                        </div>
                        <div class="meta-single">
                            ⏳ 37min read               
                        </div>   
                    </div>
                </div>
                <div class="post-block">
                    <h3 class="post-title">
                        The decade that redefined Android in the enterprise
                    </h3>
                    <div class="post-summary">
                        2019 and, indeed, the decade has now drawn to a close; as the 20’s have now roared in, what better time to take a look back at how the 10’s 
                        saw the most popular mobile OS in today’s world evolve from being mostly unsuitable for enterprise to an obvious choice? ...
                    </div>
                    <div class="post-meta">
                        <div class="meta-single">
                            🗓 Jan 20, 2020
                        </div>
                        <div class="meta-single">
                            🏷 #enterprise               
                        </div>
                        <div class="meta-single">
                            ⏳ 37min read               
                        </div>   
                    </div>
                </div>
                <div class="post-block">
                    <h3 class="post-title">
                        The decade that redefined Android in the enterprise
                    </h3>
                    <div class="post-summary">
                        2019 and, indeed, the decade has now drawn to a close; as the 20’s have now roared in, what better time to take a look back at how the 10’s 
                        saw the most popular mobile OS in today’s world evolve from being mostly unsuitable for enterprise to an obvious choice? ...
                    </div>
                    <div class="post-meta">
                        <div class="meta-single">
                            🗓 Jan 20, 2020
                        </div>
                        <div class="meta-single">
                            🏷 #enterprise               
                        </div>
                        <div class="meta-single">
                            ⏳ 37min read               
                        </div>   
                    </div>
                </div>
                <div class="post-block">
                    <h3 class="post-title">
                        The decade that redefined Android in the enterprise
                    </h3>
                    <div class="post-summary">
                        2019 and, indeed, the decade has now drawn to a close; as the 20’s have now roared in, what better time to take a look back at how the 10’s 
                        saw the most popular mobile OS in today’s world evolve from being mostly unsuitable for enterprise to an obvious choice? ...
                    </div>
                    <div class="post-meta">
                        <div class="meta-single">
                            🗓 Jan 20, 2020
                        </div>
                        <div class="meta-single">
                            🏷 #enterprise               
                        </div>
                        <div class="meta-single">
                            ⏳ 37min read               
                        </div>   
                    </div>
                </div>
                <h2 class="section-title">
                    View the article archive ✍️
                </h2>
            </section>
        </content>
        <footer>
            <div id="social_icons">
                <a href="https://linkedin.com/in/jasonbayton" alt="Linkedin"><i class="fab fa-linkedin"></i></a> <a href="https://twitter.com/jasonbayton" alt="Twitter"><i class="fab fa-twitter-square"></i></a>
              </div>
            <div class="footer-images">
                <img src="/img/aec.webp" />
                <img src="/img/ve.webp" />
                <img src="/img/kp.webp" />
                <img src="/img/platinum.svg" />
            </div>
            <div id="made_by">
                Made with ❤️ by Jason Bayton. Material is © 2009-2022.
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js"></script>
            <script src="/js/tocbot.js"></script>
            <script src="/js/fitvids.js"></script>
            <script src="/js/darkmodetoggle.js"></script>
            <script src="/js/search.js"></script>
        </footer>
    </body>
</html>