<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- head/meta goes here -->
        {% include "./_parts/head.njk" %}
        <!-- // -->
    </head>
    <body>
        <header>
            <!-- Header goes here -->
            {% include "./_parts/header.njk" %}
            <!-- // -->
        </header>
        <content id="home">
            <div id="Jason_Bayton">
                <img class="bayton-logo-light" src="/img/JasonBayton_black_SMALL.svg" width="500px" alt="main logo">
                <img class="bayton-logo-dark" src="/img/JasonBayton_white_SMALL.svg" width="500px" alt="main logo">
            </div>
            <section id="intro_block" class="home-section">
                <div id="intro_heading">
                    👋 Hello! 
                </div>
                <div id="intro_text">
                    {{ content | safe }}
                </div>
                <div id="intro_android">
                    <img id="android_head" src="/img/aec.webp" width="140px" alt="android docs">
                    <p>Dive straight in to simple, easy to understand documentation</p>
                    <a id="android_doc_link" href="/android">📖 Read the docs</a>
                </div>
            </section>
            <section id="trusted_logos" class="home-section">
                <div id="trusted_container">
                    <div id="trusted_textgroup">
                        <h2 class="section-title">
                            I make relevant, informative Android content for 200K visitors annually. <span class="trusted-tag">Some of the vendors, partners and organisations I've worked with or contributed to include:</span>
                        </h2>
                    </div>
                    <div id="vendor_logo_container">
                        <div class="vendor-logo">
                            <img src="/img/logos/android.webp" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/hmd.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/citrix.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/sam.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/sony.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/ms.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/hg.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/se.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/wandera.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/vm.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/sm.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/tele.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/mir.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/look.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/len.svg" width="116px" alt="vendor logo">
                        </div>
                        <div class="vendor-logo">
                            <img src="/img/logos/mii.svg" width="116px" alt="vendor logo">
                        </div>
                    </div>
                    <div id="vendor_disclaimer">
                        Have we worked together? Support me by <a href="https://github.com/jasonbayton/11ty/issues/new">adding your logo</a>!
                    </div>
                </div>
            </section>
            <section id="posts" class="home-section">
                <h2 class="section-title">
                    And when I'm not writing documentation, I write about the goings-on in Android and other topics. <span class="trusted-tag">Here are some of the recent articles:</span>
                </h2>
                <div id="post_container">
                {% for post in collections.blog | reverse %}
                {%- if loop.index0 < 5 %}
                    <div class="post-block">
                        <div class="post-body">
                            <div class="post-meta post-meta-condensed">
                                <div class="meta-single">
                                    {{ post.date | dateFull }}
                                </div>
                                <div class="meta-single">
                                    {% for tag in post.data.tags %}
                                    {% if not tag.includes("blog") %}
                                    #<a class="meta-tag" href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <h3 class="post-title">
                                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                            </h3>
                            {% if post.data.excerpt|length %}
                            <div class="post-summary">
                                {{ post.data.excerpt }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {%- endif %}
                {%- endfor -%}
                </div>
                <h2 class="section-title" id="post_archive">
                    <a href="/blog">✍️ View the article archive »</a>
                </h2>
            </section>
        </content>
        <footer>
            {% include "./_parts/footer.njk" %}
        </footer>
    </body>
</html>
