<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- head/meta goes here -->
        {% include "./_parts/head.njk" %}
        <!-- // -->
    </head>
    <body>
        <header>
            <!-- Header goes here -->
            {% include "./_parts/header.njk" %}
            <!-- // -->
        </header>
        <content id="home">
            <!--div id="Jason_Bayton">
                <img class="bayton-logo-light" src="/img/JasonBayton_black_SMALL.svg" width="500px" alt="main logo">
                <img class="bayton-logo-dark" src="/img/JasonBayton_white_SMALL.svg" width="500px" alt="main logo">
            </div-->
            <section id="intro_block" class="home-section">
                <div id="intro_heading">
                    {% renderFile "./_src/_includes/_parts/home/banner.md" %}
                </div>
                <!--div id="intro_text">
                    {{ content | safe }}
                </div-->
                <div id="intro_android">
                    <img id="android_head" src="/img/aec.webp" width="140px" alt="android docs">
                    <p>Get started with Android Enterprise</p>
                    <a id="android_doc_link" href="/android">📖 Read the docs</a>
                </div>
            </section>
            <!-- Trusted logos -->
            <section id="trusted_logos" class="home-section">
                <div id="trusted_container">
                    <div id="trusted_textgroup">
                        <h2 class="section-title">
                            I make relevant, informative documentation for Android Enterprise. <!--span class="trusted-tag">Some of the vendors, partners and organisations I've worked with or contributed to include:</span-->
                        </h2>
                    </div>
                    <div id="android-doc-container">
                        <div class="android-doc-grid-group">
                            <h3 class="post-title">Getting started</h3>
                            <div class="android-topic">
                                <ul>
                                    {%- for entry in collections['Getting started'] -%}
                                    {%- if loop.index0 < 5 %}
                                    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
                                    {%- endif %}
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </div>
                        <div class="android-doc-grid-group">
                            <h3 class="post-title">Diving deeper</h3>
                            <div class="android-topic">
                                <ul>
                                    {%- for entry in collections['Diving deeper'] -%}
                                    {%- if loop.index0 < 5 %}
                                    <li><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
                                    {%- endif %}
                                    {%- endfor -%}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="section-title post-archive">
                    <a href="/android">📚 View the docs »</a>
                </h2>
            </section>
            <!-- // -->
            <section id="posts" class="home-section">
                <h2 class="section-title">
                    And when I'm not writing documentation, I write about the goings-on in Android and other topics. <!--span class="trusted-tag">Here are some of the recent articles:</span-->
                </h2>
                <div id="post_container">
                    <div class="post-column">
                    {% for post in collections.blog | reverse %}
                    {% if loop.index0 < 3 %}
                        <div class="post-block">
                            <div class="post-body">
                                <div class="post-meta post-meta-condensed">
                                    <div class="meta-single">
                                        {{ post.date | dateFull }}
                                    </div>
                                    <div class="meta-single">
                                        {% for tag in post.data.tags %}
                                        {% if not tag.includes("blog") %}
                                        #<a class="meta-tag" href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <h3 class="post-title">
                                    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                                </h3>
                                {% if post.data.excerpt|length %}
                                <div class="post-summary">
                                    {{ post.data.excerpt }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {%- endif %}
                    {%- endfor -%}
                    </div>
                    <div class="post-column">
                    {% for post in collections.blog | reverse | offset(3) %}
                    {% if loop.index0 < 3 %}
                        <div class="post-block">
                            <div class="post-body">
                                <div class="post-meta post-meta-condensed">
                                    <div class="meta-single">
                                        {{ post.date | dateFull }}
                                    </div>
                                    <div class="meta-single">
                                        {% for tag in post.data.tags %}
                                        {% if not tag.includes("blog") %}
                                        #<a class="meta-tag" href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                <h3 class="post-title">
                                    <a href="{{ post.url | url }}">{{ post.data.title }}</a>
                                </h3>
                                {% if post.data.excerpt|length %}
                                <div class="post-summary">
                                    {{ post.data.excerpt }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}    
                    {% endfor %}
                    </div>
                </div>
                <h2 class="section-title post-archive">
                    <a href="/blog">✍️ View the archive »</a>
                </h2>
            </section>
        </content>
        <footer>
            {% include "./_parts/footer.njk" %}
        </footer>
    </body>
</html>
