<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- head/meta goes here -->
        {% include "./_parts/head.njk" %}
        <!-- // -->
    </head>
    <body>
        <header>
            <!-- Header goes here -->
            {% include "./_parts/header.njk" %}
            <!-- // -->
        </header>
        {% if type.includes("documentation") or type.includes("post") %}
        <content id="doc">
        {% elseif type.includes("page") or type.includes("archive") %}
        <content id="page">  
        {% endif %}  
            {% if type.includes("documentation") or type.includes("post") %}
            <section id="aside" class="mobile-hidden">
                <div class="aside-title">
                    <h2>Contents</h2>
                </div>
                <div id="article_contents_list" class="toc">
                    {{ content | toc | safe }}
                </div> 
                {% if type.includes("documentation") %}
                <div class="aside-section">
                    <!-- Docnav goes here -->
                    {% include "./_parts/docsnav.njk" %}
                    <!-- // -->
                </div>
                {% endif %}
                {% if type.includes("post") %}
                <div class="aside-section">
                    {% include "./_parts/blognav.njk" %}
                </div>
                {% endif %}
                <div class="aside-section">
                    {% include "./_parts/gitlog.njk" %}
                </div>
            </section>
            {% endif %}
            <section id="page_content">
                {% set regExpCode = r/<pre class=(.|\n)*?<\/pre>/gm %}
                {% set fixedContent = content | replace(regExpCode, "") | striptags %}
                {% set wordCount = fixedContent | wordcount %}
                {% set readingRate = 225 %}
                {% set readingTime = (wordCount/readingRate) | round %}
                {% if readingTime < 1 %}{% set readingTime = 1 %}{% endif %}
                {% if (not type.includes("archive")) and (not type.includes("page")) %}
                <div class="post-meta post-meta-base">
                    <div class="meta-single post-meta-base-left">
                        {% if type.includes("documentation") %}
                        <span class="meta-tiny"><i class="fas fa-globe-europe"></i> {{ published | dateFull }} | <i class="fas fa-hourglass-half"></i> {{ readingTime }} minute{% if readingTime > 1 %}s{% endif %}</span>
                        <i class="fas fa-edit"></i> {{ page.date | dateFull }}
                        {% else %}   
                        {{ page.date | dateFull }}
                        {% endif %}
                    </div>
                    <div class="meta-single post-meta-base-right">
                        {% for tag in tags %}
                        {% if (not tag.includes("blog")) and (not tag.includes("android-docs")) %}
                        #<a class="meta-tag" href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <hr>
                <div class="section-title base-title">
                    {{ title }}
                </div>
                {% elif type.includes("page") %}
                <div class="section-title base-title">
                    {{ title }}
                </div>
                {% endif %}
                {% if not type.includes("archive") %}
                <div id="mobile_toc">
                    <details>
                        <summary>Contents</summary>
                        {{ content | toc | safe }}
                        </div>
                    </details>
                </div>
                <div class="post-block-extra js-toc-content">
                    {{ content | safe }}
                </div>
                {% else %}
                    {{ content | safe }}
                {% endif %}
            </section>
            {% for tag in tags %}
            {% if tag.includes("android-docs") %}
            <section id="link_out">
                <div class="links-out">
                    Ask about this topic on the <a href="https://support.google.com/work/android/thread/new">Android Enterprise help community</a>.
                </div>
                <div class="links-out">
                    Discuss this topic on the <a href="https://mobilxperts.slack.com/archives/C1V8JC31T">#AE</a> channel of the Mobile Pros Slack community. Here's an <a href="https://join.slack.com/t/mobilxperts/shared_invite/zt-3wrzh2o5-e5w8qSyiGF8AcH8_VErDCg">invite</a>.
                </div>
            </section>
            {% endif %}
            {% endfor %}
            <!-- Pagination goes here -->
            <!-- {% if pagination.href.next or pagination.href.previous %}
            {% include "./_parts/paginate.njk" %}
            {% endif %} -->
            <!-- // -->
            <!-- Page feedback goes here -->
            {% include "./_parts/feedback.njk" %}
            <!-- // -->
            {% if type.includes("documentation") or type.includes("post") %}
            <section id="mobile_aside"> 
                {% if type.includes("documentation") %}
                <div class="aside-section">
                    <!-- Docnav goes here -->
                    {% include "./_parts/docsnav.njk" %}
                    <!-- // -->
                </div>
                {% endif %}
                {% if type.includes("post") %}
                <div class="aside-section">
                    {% include "./_parts/blognav.njk" %}
                </div>
                {% endif %}
            </section>
            {% endif %}
        </content>
        <footer>
            <!-- Footer goes here -->
            {% include "./_parts/footer.njk" %}
            <!-- // -->
        </footer>
    </body>
</html>