<!DOCTYPE html>
<html lang=en>
    <head>
        <!-- To be moved to a dedicated file -->
        <meta charset = "utf-8">
        <title>Jason Bayton | {{ title }}</title>
        <meta name = "description" content = "The website of Jason Bayton">
        <meta name = "author" content = "Jason Bayton ">
        <meta name="twitter:site" content="@jasonbayton" />
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Jason Bayton | {{ title }}"/>
        <meta property="og:description" content="Page Subtitle"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://bayton.org"/>
        <meta property="og:image" content="/img/bayton.webp"/>
        <script src="/js/darkmode.js"></script>
        <link rel = "stylesheet" href = "/css/core.css">
        <link rel = "stylesheet" href = "/css/doc.css">
        <link rel = "stylesheet" href = "/css/webfonts.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

        <!-- -- -->
    </head>
    <body>
        <header>
        <!-- To be moved to a dedicated file -->
            {% include "./_parts/header.njk" %}
        </header>
        <content id="doc">
            <section id="aside" class="mobile-hidden">
                <div class="aside-title">
                    <h2>Contents</h2>
                </div>
                <div id="article_contents_list" class="js-toc">
                    <!-- Taken care of by Tocbot -->
                </div> 
                {% if type.includes("documentation") %}
                <div id="aside_docs">
                    {% include "./_parts/docsnav.njk" %}
                </div>
                {% endif %}
            </section>
            <section id="page_content">
                <div class="post-meta">
                    <div class="meta-single">
                        🗓 {{ page.date | postDate }}
                    </div>
                    <div class="meta-single">
                        🏷 {{ tags }}               
                    </div>
                    <div class="meta-single">
                        ⏳ {{ 'text' | timeToRead }}             
                    </div>   
                </div>
                <div class="section-title">
                    {{ title }}
                </div>
                <div class="post-block js-toc-content">
                    <!--
                    title: "What is Android Enterprise?"
                    date: "2017-04-07"
                    -->
                    {{ content | safe }}
                </div>
            </section>
            {% if pagination.href.next or pagination.href.previous %}
            {% include "./_parts/paginate.njk" %}
            {% endif %}
            <section id="feedback">
                <div id="content_report">
                    Problem with this content? <a href="https://github.com/jasonbayton/11ty/blob/main/{{ page.inputPath }}">Make an edit</a>.
                  </div>
            </section>
        </content>
        <footer>
            {% include "./_parts/footer.njk" %}
        </footer>
    </body>
</html>