<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- head/meta goes here -->
        {% include "./_parts/head.njk" %}
        <!-- // -->
    </head>
    <body>
        <header>
            <!-- Header goes here -->
            {% include "./_parts/header.njk" %}
            <!-- // -->
        </header>
        {% if type.includes("documentation") or type.includes("post") %}
        <content id="doc">
        {% elif type.includes("page") or type.includes("archive") %}
        <content id="page">
        {% elif type.includes("note") %}
        <content id="note" class=" grid grid-column-2-1 padding-top-60 grid-column-mobile-1 grid-gap-30 grid-gap-mobile-0">
        {% endif %}  
            {% if type.includes("documentation") or type.includes("post") %}
            <section id="aside" class="mobile-hidden">
                <div class="aside-title">
                    <h2>Contents</h2>
                </div>
                <div id="article_contents_list" class="toc">
                    {% if content | toc %}
                    {{ content | toc | safe }}
                    {% else %}
                    {{ title }}
                    {% endif %}
                </div> 
                {% if type.includes("documentation") %}
                <div class="aside-section">
                    <!-- Docnav goes here -->
                    {% include "./_parts/docsnav.njk" %}
                    <!-- // -->
                </div>
                {% endif %}
                {% if type.includes("post") %}
                <div class="aside-section">
                    {% include "./_parts/blognav.njk" %}
                </div>
                {% endif %}
                <div class="aside-section">
                    {% include "./_parts/gitlog.njk" %}
                </div>
            </section>
            {% for tag in tags %}
            {% if tag.includes("android-docs") or tag.includes("blog") %}
            <section id="sharebox" class="mobile-hidden">
                <div class="aside-title">
                    <b>Share this page</b>
                </div>
                <div class="share-text">
                    Enjoyed this content? Please share it with your social network of choice.
                </div>
            </section>
            {% endif %}
            {% endfor %}
            {% endif %}
            <section id="page_content">
                {% set regExpCode = r/<pre class=(.|\n)*?<\/pre>/gm %}
                {% set fixedContent = content | replace(regExpCode, "") | striptags %}
                {% set wordCount = fixedContent | wordcount %}
                {% set readingRate = 225 %}
                {% set readingTime = (wordCount/readingRate) | round %}
                {% if readingTime < 1 %}{% set readingTime = 1 %}{% endif %}
                {% if (not type.includes("archive")) and (not type.includes("page")) %}
                <div class="post-meta post-meta-base">
                    <div class="meta-single post-meta-base-left">
                        {% if type.includes("documentation") %}
                        <span class="meta-tiny"><i class="fas fa-globe-europe"></i> {{ published | dateFull }} • <i class="fas fa-glasses"></i> {{ readingTime }} minute{% if readingTime > 1 %}s{% endif %}</span>
                        <i class="fas fa-edit"></i> {{ page.date | dateFull }} 
                        {% elseif type.includes("note") %}
                        {{ page.date | dateWithTime }}
                        {% else %}
                        {{ page.date | dateFull }} <small><i>by {{ author }}</i></small>
                        {% endif %}
                    </div>
                    <div class="meta-single post-meta-base-right">
                        {% for tag in tags %}
                        {% if (not tag.includes("blog")) and (not tag.includes("android-docs")) and (not tag.includes("notes")) and (not tag.includes("FAQ"))  %}
                        #<a class="meta-tag" href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
                        {% elif tag.includes("notes") %}
                        <i class="fas fa-arrow-left"></i> <a class="meta-tag" href="/notes/">return to notes</a>
                        {% elif tag.includes("FAQ") %}
                        <i class="fas fa-arrow-left"></i> <a class="meta-tag" href="/android/android-enterprise-faq/">return to FAQ</a>            
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <hr>
                {% if (not type.includes("note"))  %}
                <h1 class="section-title base-title">
                    {{ title }}
                </h1>
                {% endif %}
                {% elif type.includes("page") %}
                <h1 class="section-title base-title">
                    {{ title }}
                </h1>
                {% endif %}
                {% if (not type.includes("archive")) and (not type.includes("note"))  %}
                {% if content | toc %}
                <div id="mobile_toc">
                    <details>
                        <summary>Contents</summary>
                        {{ content | toc | safe }}
                        </div>
                    </details>
                </div>
                {% endif %}
                <div class="post-block-extra">
                    {{ content | safe }}

                    {% if categories %}
                    <!--div class="padding-30 padding-lr-0">
                        <hr>
                        Associated topics:
                        {% for category in categories %}
                        <a class="blood-orange" href="/tags/{{ category | slugify }}/">{{category}}</a> 
                        {% endfor %}
                    </div-->
                    {% endif %}
                </div>
                {% else %}
                    {{ content | safe }}
                {% endif %}
            </section>

            {% for tag in tags %}
            {% if tag.includes("android-docs") or tag.includes("blog") %}
            <section id="link_out">
                <div class="links-out">
                    Discuss this topic on the <a href="https://androidenterprise.community">Android Enterprise Customer Community</a>, tag <a href="https://www.androidenterprise.community/t5/user/viewprofilepage/user-id/11">@jasonbayton</a> to summon me.
                </div>
                <div class="links-out">
                    Discuss this topic on the <a href="https://mobilxperts.slack.com/archives/C1V8JC31T">#AE</a> channel of the Mobile Pros Slack community. Here's an <a href="https://join.slack.com/t/mobilxperts/shared_invite/zt-3wrzh2o5-e5w8qSyiGF8AcH8_VErDCg">invite</a>.
                </div>
            </section>
            {% endif %}
            {% endfor %}

            {% if type.includes("note") %}
            <section id="note_overview" class="">
                <div class="border-4px border-orange border-curved padding-10 padding-lr-20 first-heading-inline">
                    <h3>What are notes?</h3>
                    <p>These are short-form posts for small updates and quick thoughts. They are automatically published to social channels, and have their own <a href="/notes/feed.xml">RSS feed</a>, too.</p>
                </div>
            </section>
            {% endif %}
            <!-- Page feedback goes here -->
            {% include "./_parts/feedback.njk" %}
            <!-- // -->
            {% if type.includes("documentation") or type.includes("post") %}
            <section id="mobile_aside"> 
                {% if type.includes("documentation") %}
                <div class="aside-section">
                    <!-- Docnav goes here -->
                    {% include "./_parts/docsnav.njk" %}
                    <!-- // -->
                </div>
                {% endif %}
                {% if type.includes("post") %}
                <div class="aside-section">
                    {% include "./_parts/blognav.njk" %}
                </div>
                {% endif %}
            </section>
            {% endif %}
        </content>
        <footer>
            <!-- Footer goes here -->
            {% include "./_parts/footer.njk" %}
            <!-- // -->
        </footer>
    </body>
</html>