<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- head/meta goes here -->
        {% include "./_parts/head.njk" %}
        <!-- // -->
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function() {
                function toggleDetailsOpen() {
                    var openDetails = document.querySelectorAll('.details-desktop');
                    if (window.innerWidth > 900) {
                        openDetails.forEach(function(details) {
                            if (!details.hasAttribute('open')) {
                                details.setAttribute('open', 'open');
                            }
                        });
                    } else {
                        openDetails.forEach(function(details) {
                            if (details.hasAttribute('open')) {
                                details.removeAttribute('open');
                            }
                        });
                    }
                }

                // Initial check when the DOM is fully loaded
                toggleDetailsOpen();

                // Add event listener for window resize
                window.addEventListener('resize', toggleDetailsOpen);
            });
        </script>
    </head>
    <body>
        <header>
            <!-- Header goes here -->
            {% include "./_parts/header.njk" %}
            <!-- // -->
        </header>
        <content id="generator">
            <section id="page_content">
                <div id="qr_type">
                    <a class="button button-small {% if currentPage == '/qr-generator' %}active{% endif %}" href="/qr-generator">AMAPI</a>
                    <a class="button button-small {% if currentPage == '/qr-generator-eap' %}active{% endif %}" href="/qr-generator-eap">AMAPI & EAP</a>
                    <a class="button button-small {% if currentPage == '/qr-generator-dpc' %}active{% endif %}" href="/qr-generator-dpc">Custom DPC</a>
                </div>
                <div class="section-title base-title">
                    {{ title }}
                </div>
                {% if alert %}
                <div class="callout callout-small">
                    <p><span class="material-symbols-outlined">quick_reference</span> {{ alert | safe }}</p>
                </div>
                {% endif %}

                {{ content | safe }}

                <!-- START JSON
                     {
                        "android.app.extra.PROVISIONING_DEVICE_ADMIN_COMPONENT_NAME":"com.google.android.apps.work.clouddpc/.receivers.CloudDeviceAdminReceiver",
                        "android.app.extra.PROVISIONING_DEVICE_ADMIN_SIGNATURE_CHECKSUM":"I5YvS0O5hXY46mb01BlRjq4oJJGs2kuUcHvVkAPEXlg",
                        "android.app.extra.PROVISIONING_DEVICE_ADMIN_PACKAGE_DOWNLOAD_LOCATION":"https://play.google.com/managed/downloadManagingApp?identifier=setup",
                -->

                <!-- Insert token
                        "android.app.extra.PROVISIONING_ADMIN_EXTRAS_BUNDLE":{
                            "com.google.android.apps.work.clouddpc.EXTRA_ENROLLMENT_TOKEN":"xxxxxxx"
                        },
                -->
                <div class="grid grid-column-2 grid-column-mobile-1 grid-gap-h-30 grid-gap-mobile-h-0 generator-bg">
                    <div id="amapi_token" class="field">
                        <div class="field-title">
                            <label for="token_field">Token*</label>
                        </div>
                        <input type="text" placeholder="This is required for automatic enrolment" id="token_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_ADMIN_EXTRAS_BUNDLE|com.google.android.apps.work.clouddpc.EXTRA_ENROLLMENT_TOKEN">
                    </div>
                    <div id="token_description" class="field-description field field-mobile">
                        <details class="details-desktop">
                            <summary><b>Description</b></summary>
                            {% renderFile "_src/_includes/_parts/generator/token-input.md" %}
                        </details>
                    </div>
                </div> 

                <!-- Configure options
                        "android.app.extra.PROVISIONING_LEAVE_ALL_SYSTEM_APPS_ENABLED":true/false,
                        "android.app.extra.PROVISIONING_USE_MOBILE_DATA":true/false,
                        "android.app.extra.PROVISIONING_KEEP_SCREEN_ON":true/false,
                        "android.app.extra.PROVISIONING_ALLOW_OFFLINE":true/false,
                        "android.app.extra.PROVISIONING_SKIP_ENCRYPTION":true/false,
                        "android.app.extra.PROVISIONING_SKIP_EDUCATION_SCREENS":true/false,
                        "android.app.extra.PROVISIONING_LOCALE":"xxxxx",
                        "android.app.extra.PROVISIONING_TIME_ZONE":"xxxxx",
                -->

                <div class="grid grid-column-2 grid-column-mobile-1 grid-gap-h-30 grid-gap-mobile-h-0 generator-bg">
                    <div class="provisioning-options-left field">
                        <p><b>Configure provisioning options</b></p>

                        <div id="sysapps" class="check">
                            <div class="field-title">
                                <input type="checkbox" placeholder="" id="sysapps_field" class="input-check" data-qr-key="android.app.extra.PROVISIONING_LEAVE_ALL_SYSTEM_APPS_ENABLED" data-qr-bool>
                                <label for="sysapps_field">Enable system apps</label>
                            </div>
                        </div>

                        <div id="mobile_network" class="check">
                            <div class="field-title">
                                <input type="checkbox" placeholder="" id="mobilenetwork_field" class="input-check" data-qr-key="android.app.extra.PROVISIONING_USE_MOBILE_DATA" data-qr-bool>
                                <label for="mobilenetwork_field">Use mobile network for provisioning</label>
                            </div>
                        </div>

                        <div id="provision_offline" class="check">
                            <div class="field-title">
                                <input type="checkbox" placeholder="" id="provisionoffline_field" class="input-check" data-qr-key="android.app.extra.PROVISIONING_ALLOW_OFFLINE" data-qr-bool>
                                <label for="provisionoffline_field">Allow offline provisioning</label>
                            </div>
                        </div>

                        <div id="screen_on" class="check">
                            <div class="field-title">
                                <input type="checkbox" placeholder="" id="screenon_field" class="input-check" data-qr-key="android.app.extra.PROVISIONING_KEEP_SCREEN_ON" data-qr-bool>
                                <label for="screenon_field">Keep screen on <span class="label label-green"><span class="material-symbols-outlined">android</span> 13</span></label>
                            </div>
                        </div>

                        <div id="skip_encryption" class="check">
                            <div class="field-title">
                                <input type="checkbox" placeholder="" id="encryption_field" class="input-check" data-qr-key="android.app.extra.PROVISIONING_SKIP_ENCRYPTION" data-qr-bool>
                                <label for="encryption_field">Skip encryption</label>
                            </div>
                        </div>

                        <div id="skip_education" class="check">
                            <div class="field-title">
                                <input type="checkbox" placeholder="" id="education_field" class="input-check" data-qr-key="android.app.extra.PROVISIONING_SKIP_EDUCATION_SCREENS" data-qr-bool>
                                <label for="education_field">Skip education screens</label>
                            </div>
                        </div>
                    </div>
                    <div class="provisioning-options-right field field-mobile">
                        <div id="provisioning_options" class="field-description">
                            <details class="details-desktop">
                                <summary><b>Description</b></summary>
                                {% renderFile "_src/_includes/_parts/generator/provisioning-options.md" %}
                            </details>
                        </div>
                    </div>
                </div>

                <div class="grid grid-column-2 grid-column-mobile-1 grid-gap-h-30 grid-gap-mobile-h-0 generator-bg">
                    <div class="provisioning-options-left field">                
                        <div id="set_locale" class="field-qr">
                            <div class="field-title">
                                <label for="setlocale_field">Set locale</label> (<a href="https://www.localeplanet.com/icu/" target="_blank">Ref</a>)
                            </div>
                            <input type="text" placeholder="en_US" id="setlocale_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_LOCALE">
                        </div>

                        <div id="set_timezone" class="field-qr">
                            <div class="field-title">
                                <label for="settz_field">Set timezone</label> (<a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones" target="_blank">Ref</a>)
                            </div>
                            <input type="text" placeholder="Europe/London or Etc/GMT-8" id="settz_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_TIME_ZONE">
                        </div>
                    </div>
                    <div class="locale-options-right field field-mobile">
                        <div id="locale_timezone" class="field-description">
                            <details class="details-desktop">
                                <summary><b>Description</b></summary>
                                {% renderFile "_src/_includes/_parts/generator/locale-timezone.md" %}
                            </details>
                        </div>
                    </div>
                </div>
                <div class="grid grid-column-2 grid-column-mobile-1 grid-gap-h-30 grid-gap-mobile-h-0 generator-bg">
                    <div class="provisioning-options-left field">
                        <p><b>Configure Wi-Fi network</b></p>

                        <!-- Configure Wi-Fi network
                                "android.app.extra.PROVISIONING_WIFI_SECURITY_TYPE":"NONE, WPA, WEP or EAP",
                                "android.app.extra.PROVISIONING_WIFI_SSID":"xxxxx",
                                "android.app.extra.PROVISIONING_WIFI_HIDDEN":"true/false",
                                "android.app.extra.PROVISIONING_WIFI_PASSWORD":"xxxxx",
                                "android.app.extra.PROVISIONING_WIFI_PAC_URL":"xxxxx",
                                "android.app.extra.PROVISIONING_WIFI_PROXY_HOST":"xxxxx",
                                "android.app.extra.PROVISIONING_WIFI_PROXY_PORT":"xxxxx",
                                "android.app.extra.PROVISIONING_WIFI_PROXY_BYPASS":"xxxxx",
                        -->

                        <div id="wifi_security" class="field-qr">
                            <div class="field-title">
                                <label for="security_select">Wi-Fi security</label>
                            </div>
                            <select name="WIFI_SECURITY_TYPE" id="security_select" class="input-text input-dropdown" data-qr-key="android.app.extra.PROVISIONING_WIFI_SECURITY_TYPE">
                                <option value="">-- Select --</option>
                                <option value="WPA">WPA/WPA2 PSK</option>
                                <option value="WEP">WEP</option>
                                <option value="NONE">None</option>
                            </select>
                        </div>

                        <div id="wifi_ssid" class="field-qr">
                            <div class="field-title">
                                <label for="ssid_field">Wi-Fi SSID</label>
                            </div>
                            <input type="text" placeholder="WIFI_SSID" id="ssid_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_WIFI_SSID">
                        </div>

                        <div id="ssid_hidden" class="check">
                            <div class="field-title">
                                <input type="checkbox" placeholder="" id="ssidhidden_field" class="input-check" data-qr-key="android.app.extra.PROVISIONING_WIFI_HIDDEN" data-qr-bool>
                                <label for="ssidhidden_field">Hidden SSID</label>
                            </div>
                        </div>

                        <div id="wifi_password" class="field-qr">
                            <div class="field-title">
                                <label for="password_field">Wi-Fi password</label>
                            </div>
                            <input type="password" placeholder="WIFI_PASSWORD" id="password_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_WIFI_PASSWORD">
                        </div>

                        <div id="wifi_pac" class="field-qr">
                            <div class="field-title">
                                <label for="pac_field">Wi-Fi PAC URL, if required</label>
                            </div>
                            <input type="text" placeholder="WIFI_PAC_URL" id="pac_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_WIFI_PAC_URL">
                        </div>

                        <div id="wifi_proxy_host" class="field-qr">
                            <div class="field-title">
                                <label for="proxyhost_field">Wi-Fi proxy host</label>
                            </div>
                            <input type="text" placeholder="WIFI_PROXY_HOST" id="proxyhost_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_WIFI_PROXY_HOST">
                        </div>

                        <div id="wifi_proxy_port" class="field-qr">
                            <div class="field-title">
                                <label for="proxyport_field">Wi-Fi proxy port</label>
                            </div>
                            <input type="text" placeholder="WIFI_PROXY_PORT" id="proxyport_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_WIFI_PROXY_PORT">
                        </div>

                        <div id="wifi_proxy_bypass" class="field-qr">
                            <div class="field-title">
                                <label for="proxybypass_field">Wi-Fi proxy bypass URL</label>
                            </div>
                            <input type="text" placeholder="WIFI_PROXY_BYPASS" id="proxybypass_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_WIFI_PROXY_BYPASS">
                        </div>
                    </div>
                    <div class="wifi-options-right field field-mobile">
                        <div id="wifi_network" class="field-description">
                            <details class="details-desktop">
                                <summary><b>Description</b></summary>
                                {% renderFile "_src/_includes/_parts/generator/wifi-network.md" %}
                            </details>
                        </div>
                    </div>
                </div>

                <!--p><b>Configure EAP settings</b><br>
                If EAP was selected as the Wi-Fi security type, configure EAP settings below.</p>

                <!-- Configure Wi-Fi network
                        "android.app.extra.PROVISIONING_WIFI_SECURITY_TYPE":"NONE, WPA, WEP or EAP",
                        "android.app.extra.PROVISIONING_WIFI_SSID":"xxxxx",
                        "android.app.extra.PROVISIONING_WIFI_HIDDEN":"true/false",
                        "android.app.extra.PROVISIONING_WIFI_PASSWORD":"xxxxx",
                        "android.app.extra.PROVISIONING_WIFI_PAC_URL":"xxxxx",
                        "android.app.extra.PROVISIONING_WIFI_PROXY_HOST":"xxxxx",
                        "android.app.extra.PROVISIONING_WIFI_PROXY_PORT":"xxxxx",
                        "android.app.extra.PROVISIONING_WIFI_PROXY_BYPASS":"xxxxx",
                -->

                <!--div id="eap_method" class="field-qr">
                    <div class="field-title">
                        <label for="eap_select">EAP method</label>
                    </div>
                    <select name="PROVISIONING_WIFI_EAP_METHOD" id="eap_select" class="input-text input-dropdown" data-qr-key="android.app.extra.PROVISIONING_WIFI_EAP_METHOD">
                        <option value="">-- Select --</option>
                        <option value="PEAP">PEAP</option>
                        <option value="TLS">TLS</option>
                        <option value="TTLS">TTLS</option>
                        <option value="PWD">PWD</option>
                        <option value="SIM">SIM</option>
                        <option value="AKA">AKA</option>
                        <option value="AKA_PRIME">AKA_PRIME</option>
                    </select>
                </div>
                <div id="phase2_auth" class="field-qr">
                    <div class="field-title">
                        <label for="phase2_select">Phase 2 authentication</label>
                    </div>
                    <select name="PROVISIONING_WIFI_EAP_METHOD" id="phase2_select" class="input-text input-dropdown" data-qr-key="android.app.extra.PROVISIONING_WIFI_PHASE2_AUTH">
                        <option value="">-- Select --</option>
                        <option value="NONE">NONE</option>
                        <option value="PAP">PAP</option>
                        <option value="MSCHAP">MSCHAP</option>
                        <option value="MSCHAPV2">MSCHAPV2</option>
                        <option value="GTC">GTC</option>
                        <option value="SIM">SIM</option>
                        <option value="AKA">AKA</option>
                        <option value="AKA_PRIME">AKA_PRIME</option>
                    </select>
                </div>

                <div id="wifi_identity" class="field-qr">
                    <div class="field-title">
                        <label for="wifiidentity_field">Wi-Fi Identity</label>
                    </div>
                    <input type="text" placeholder="WIFI_IDENTITY" id="wifiidentity_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_WIFI_IDENTITY">
                </div>

                <div id="wifi_anonymous_identity" class="field-qr">
                    <div class="field-title">
                        <label for="anonymousidentity_field">Wi-Fi Anonymous Identity</label>
                    </div>
                    <input type="text" placeholder="WIFI_ANONYMOUS_IDENTITY" id="anonymousidentity_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_WIFI_ANONYMOUS_IDENTITY">
                </div>

                <div id="wifi_domain" class="field-qr">
                    <div class="field-title">
                        <label for="domain_field">Wi-Fi Domain</label>
                    </div>
                    <input type="text" placeholder="WIFI_DOMAIN" id="domain_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_WIFI_DOMAIN">
                </div>

                <div id="wifi_ca_cert" class="field-qr">
                    <div class="field-title">
                        <label for="cacert_field">Wi-Fi CA certificate, base64 format</label>
                    </div>
                    <input type="text" placeholder="WIFI_CA_CERTIFICATE" id="cacert_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_WIFI_CA_CERTIFICATE">
                </div>

                <div id="wifi_user_cert" class="field-qr">
                    <div class="field-title">
                        <label for="usercert_field">Wi-Fi user certificate, base64 format</label>
                    </div>
                    <input type="text" placeholder="WIFI_USER_CERTIFICATE" id="usercert_field" class="input-text" data-qr-key="android.app.extra.PROVISIONING_WIFI_USER_CERTIFICATE">
                </div-->

                <!-- END JSON

                }

                -->

                <h4 class="post-title post-archive">
                    <a class="button" id="generate_code">Generate QR</a><br>
                </h4>

                <canvas class="post-block" id="generated_qr">
                </canvas>

                <div class="post-block" id="download_qr">
                </div>

                <div class="post-block" id="json_code">
                </div>

                <div class="changelog-qr-generator">
                    {% include "./_parts/gitlog.njk" %}
                </div>
            </section>
            <!-- Page feedback goes here -->
            {% include "./_parts/feedback.njk" %}
            <!-- // -->
        </content>
        <footer>
            {% include "./_parts/footer.njk" %}
            <script src="/js/qrcode.js"></script>
            <script src="/js/qr-generator.js"></script>
        </footer>
    </body>
</html>
