<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- head/meta goes here -->
        {% include "./_parts/head.njk" %}
        <!-- // -->
    </head>
    <body>
        <header>
            <!-- Header goes here -->
            {% include "./_parts/header.njk" %}
            <!-- // -->
        </header>
        <content id="page">
            <section id="page_content">     
                <div class="page-title-image">
                    {% if page.url.includes("managed-settings") %}
                    {% include "./_assets/img/bayton_logos/managed_settings_hero.svg" %}
                    {% elif page.url.includes("beam") %}
                    {% include "./_assets/img/bayton_logos/beam_hero.svg" %}
                    {% elif page.url.includes("package-search") %}
                    {% include "./_assets/img/bayton_logos/package_search_hero_animated.svg" %}
                    {% elif page.url.includes("managed-info") %}
                    {% include "./_assets/img/bayton_logos/managed_info_hero.svg" %}
                    {% elif page.url.includes("managed-archiver") %}
                    {% include "./_assets/img/bayton_logos/managed_archiver_hero.svg" %}
                    {% else %}
                    {% include "./_assets/img/bayton_logos/project_placeholder.svg" %}
                    {% endif %}
                </div>
                <div class="post-block-extra">
                    <div class="project-grid">
                        <div class="project-grid-left">
                            <!--h2 class="section-title base-title project-title">
                                {{ title }}
                            </h2-->
                            {% if content | hasHeading %}
                            <div id="mobile_toc">
                                <details>
                                    <summary>Contents</summary>
                                    {{ content | toc | safe }}
                                </details>
                            </div>
                            {% endif %}
                            {{ content | safe }}
                        </div>
                        <div class="project-grid-right">
                            {% if page.url.includes("managed-settings") %}
                            <!--section class="funding-bar">
                                <div class="funding-bar-inner">
                                    <div class="funding-bar-content">
                                    <div class="aside-title"><h2>Funding goal</h2></div>
                                    <div class="funding-progress">
                                        <div class="funding-progress-bar" style="width: {{ (funding / funding_goal) * 100 }}%;">
                                        <small>{{ (funding / funding_goal) * 100 }}%</small>
                                        </div>
                                    </div>
                                    <div class="funding-info">
                                        <span class="funding-amount"> {{ funding_version }} goal: £{{ funding_goal }}</span>
                                    </div>
                                    </div>
                                </div>
                            </section-->
                            {% renderFile "./_src/_includes/_parts/projects/ms-grid-right.md" %}
                            {% include "./_parts/projects/project-ms-data-right.njk" %}
                            {% elif page.url.includes("package-search") %}
                            {% renderFile "./_src/_includes/_parts/projects/ps-grid-right.md" %}
                            {% include "./_parts/projects/project-ps-data-right.njk" %}
                            {% elif page.url.includes("managed-info") %}
                            {% renderFile "./_src/_includes/_parts/projects/mi-grid-right.md" %}
                            {% include "./_parts/projects/project-mi-data-right.njk" %}
                            {% elif page.url.includes("managed-archiver") %}
                            {% renderFile "./_src/_includes/_parts/projects/ma-grid-right.md" %}
                            {% include "./_parts/projects/project-ma-data-right.njk" %}
                            {% elif page.url.includes("beam") %}
                            {% renderFile "./_src/_includes/_parts/projects/beam-grid-right.md" %}
                            {% endif %}
                            {% if categories %}
                            {% endif %}
            </section>

            <!-- Page feedback goes here -->
            {% include "./_parts/feedback.njk" %}
            <!-- // -->
            {% if type.includes("documentation") or type.includes("post") %}
            <section id="mobile_aside"> 
                {% if type.includes("documentation") %}
                <div class="aside-section">
                    <!-- Docnav goes here -->
                    {% include "./_parts/docsnav.njk" %}
                    <!-- // -->
                </div>
                {% endif %}
                {% if type.includes("post") %}
                <div class="aside-section">
                    {% include "./_parts/blognav.njk" %}
                </div>
                {% endif %}
            </section>
            {% endif %}
        </content>
        <footer>
            <!-- Footer goes here -->
            {% include "./_parts/footer.njk" %}
            <!-- // -->
        </footer>
    </body>
</html>