<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- head/meta goes here -->
        {% include "./_parts/head.njk" %}
        <!-- // -->
    </head>
    <body>
        <header>
            <!-- Header goes here -->
            {% include "./_parts/header.njk" %}
            <!-- // -->
        </header>
        <main id="qa-content">
            <h1 class="qa-title">{{ title }}</h1>
            <div class="qa-body">
                {{ content | safe }}
            </div>
            <div class="qa-buttons">
                <button onclick="location.href='{{ button1.url }}'">{{ button1.text }}</button>
                <button onclick="location.href='{{ button2.url }}'">{{ button2.text }}</button>
            </div>
        </main>
        <footer>
            <!-- Footer goes here -->
            {% include "./_parts/footer.njk" %}
            <!-- // -->
        </footer>
    </body>
<style>
    #qa-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .qa-title {
        text-align: center;
        margin-top: 20px;
        font-size: 2rem;
    }
    .qa-body {
        margin: 20px 0;
        padding: 20px;
    }
    .qa-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .qa-buttons button {
        padding: 10px 20px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: var(--main-blue);
        color: var(--bright);
        transition: background-color 0.3s;
    }
    .qa-buttons button:hover {
        background-color: var(--orange);
    }
</style>
</html>