<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- head/meta goes here -->
        {% include "./_parts/head.njk" %}
        <!-- // -->
    </head>
    <body>
        <header>
            <!-- Header goes here -->
            {% include "./_parts/header.njk" %}
            <!-- // -->
        </header>
        <content id="search">  
            <section id="page_content">
                <div class="section-title base-title">
                    {{ title }}
                </div>

                {{ content | safe }}
                
                <script type="text/javascript" src="/js/elasticlunr.js"></script>
                <script type="text/javascript" src="/js/search.js"></script>
                <div class="field">
                    <input type="search" placeholder="Type a word to begin.." id="searchField">
                </div>

                <div class="post-block" id="searchResults">
                <div id="noResultsFound" style="display: none">
                    <p>No results found.</p>
                </div>
            </section>
            <!-- Page feedback goes here -->
            {% include "./_parts/feedback.njk" %}
            <!-- // -->
        </content>
        <footer>
            {% include "./_parts/footer.njk" %}
        </footer>
        <script defer src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
        <script defer type="text/javascript" src="/js/fuse-search.js"></script>
    </body>
</html>