<div class="aside-title">
    <h2>Articles</h2>
</div>
{% for year, yearPosts in collections.postsByYear %}
<details {% if year in page.url %} open="" {% endif %}>
    <summary class="docnav-topic-title">
            {{ year }}     
        </summary>
    <ul>
        {% for post in yearPosts | reverse %}
        {% if post in collections.blog %}
        <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</details>
{% endfor %}