<section id="comment-system">
    <script src="https://giscus.app/client.js"
        data-repo="jasonbayton/11ty"
        data-repo-id="R_kgDOHttiPw"
        data-category="Announcements"
        data-category-id="DIC_kwDOHttiP84CQqIr"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
    </script>
</section>
<!--section id="paginate">
    {% if type.includes("documentation") or type.includes("post") %}
{% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{% set nextPost = collections.blog | getNextCollectionItem(page) %}
{% if previousPost %}← <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}
{% if nextPost %}<a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a> →{% endif %}
{% endif %}
</section-->