<div class="aside-title">
    <h2>Docs</h2>
</div>
<details {% if tags.includes("Getting started") %} open="" {% endif %} >
    <summary class="docnav-topic-title">
            Getting started        
        </summary>
    <ul>
        {%- for post in collections['Getting started'] -%}
        <li><a class="{{ 'active' if title == post.data.title }}" href="{{ post.url }}">{{ post.data.title }}</a></li>
        {%- endfor -%}
    </ul>

</details>
<details {% if tags.includes("Diving deeper") %} open="" {% endif %} >
    <summary class="docnav-topic-title">
            Diving deeper        
        </summary>
    <ul>
        {%- for post in collections['Diving deeper'] -%}
        <li><a class="{{ 'active' if title == post.data.title }}" href="{{ post.url }}">{{ post.data.title }}</a></li>
        {%- endfor -%}
    </ul>
</details>
<details {% if tags.includes("Resources") %} open="" {% endif %} >
    <summary class="docnav-topic-title">
            Resources        
        </summary>
    <ul>
        {%- for post in collections['Resources'] -%}
        <li><a class="{{ 'active' if title == post.data.title }}" href="{{ post.url }}">{{ post.data.title }}</a></li>
        {%- endfor -%}
    </ul>
</details>
<details {% if tags.includes("Hardware validation") %} open="" {% endif %} >
    <summary class="docnav-topic-title">
            Hardware validation        
        </summary>
    <ul>
        {%- for post in collections['Hardware validation'] -%}
        <li><a class="{{ 'active' if title == post.data.title }}" href="{{ post.url }}">{{ post.data.title }}</a></li>
        {%- endfor -%}
    </ul>
</details>