<div class="aside-title increased-top-padding">
    <h2>Docs</h2>
</div>
{% for tag in android_tags %}
<details {% if tags.includes( tag.name ) %} open="" {% endif %} >
    <summary class="docnav-topic-title">
        {{ tag.name }}       
    </summary>
    {% set taglist = collections[ tag.name ] | eleventyNavigation %}
    <ul>
    {%- for post in taglist %}
        <li>
            <a {% if post.url == page.url %} class="active"{% endif %} href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {%- endfor %}
    </ul>
</details>
{% endfor %}