<div class="aside-title increased-top-padding">
    <h2>Docs</h2>
</div>
<details {% if tags.includes("Getting started") %} open="" {% endif %} >
    <summary class="docnav-topic-title">
        Getting started        
    </summary>    
    {% set navPages = collections['Getting started'] | eleventyNavigation %}
    <ul>
    {%- for entry in navPages %}
    <li>
        <a {% if entry.url == page.url %} class="active"{% endif %} href="{{ entry.url }}">{{ entry.title }}</a>
    </li>
    {%- endfor %}
    </ul>
</details>
<details {% if tags.includes("Diving deeper") %} open="" {% endif %} >
    <summary class="docnav-topic-title">
            Diving deeper        
        </summary>
    <ul>
        {%- for post in collections['Diving deeper'] -%}
        <li><a class="{{ 'active' if title == post.data.title }}" href="{{ post.url }}">{{ post.data.title }}</a></li>
        {%- endfor -%}
    </ul>
</details>
<details {% if tags.includes("Resources") %} open="" {% endif %} >
    <summary class="docnav-topic-title">
            Resources        
        </summary>
    <ul>
        {%- for post in collections['Resources'] -%}
        <li><a class="{{ 'active' if title == post.data.title }}" href="{{ post.url }}">{{ post.data.title }}</a></li>
        {%- endfor -%}
    </ul>
</details>
<details {% if tags.includes("Hardware validation") %} open="" {% endif %} >
    <summary class="docnav-topic-title">
            Hardware validation        
        </summary>
        {% set navPages = collections['Hardware validation'] | eleventyNavigation %}
    <ul>
    {%- for entry in navPages %}
    <li>
        <a {% if entry.url == page.url %} class="active"{% endif %} href="{{ entry.url }}">{{ entry.title }}</a>
    </li>
    {%- endfor %}
    </ul>
</details>