<section id="feedback">
    <div id="content_report">
       <span class="material-symbols-outlined">mail</span> <a target="_blank" href="mailto:jason@bayton.org?subject=RE: {{ title }}">Reply by email</a> | <span class="material-symbols-outlined">edit_note</span> <a href="https://github.com/jasonbayton/11ty/blob/main/{{ page.inputPath }}">Edit this page</a>.
    </div>
</section>