    <div id="social_icons">
        <a href="https://linkedin.com/in/jasonbayton" alt="Linkedin"><i class="fab fa-linkedin"></i></a> <a href="https://twitter.com/jasonbayton" alt="Twitter"><i class="fab fa-twitter-square"></i></a>
        </div>
    <div id="made_by">
        Made in 🏴󠁧󠁢󠁷󠁬󠁳󠁿 with ❤️ by Jason Bayton. Material is © 2009-{{ footer.currentYear() }}. <br />
        Built with Eleventy, most recently on {{ footer.builtAt | dateFull }}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.min.js"></script>
    <script src="/js/tocbot.js"></script>
    <script src="/js/darkmodetoggle.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous"/>

    <!--script src="/js/search.js"></script-->
