    <div id="subscribe_section">
        <p>Get news and updates delivered directly to your inbox:</p>
        <form
            action="https://buttondown.email/api/emails/embed-subscribe/bayton"
            method="post"
            target="popupwindow"
            onsubmit="window.open('https://buttondown.email/bayton', 'popupwindow')"
            class="embeddable-buttondown-form"
            >
            <input type="email" name="email" placeholder="Email address" autocomplete="email" id="subscribe_input" />
            <input type="submit" class="button" value="Subscribe" id="subscribe_button"/>
        </form>
        <p><sub>Provided by <a href="https://buttondown.email">Buttondown</a>. Opens a new tab.</sub></p>
    </div>
    
    <div id="social_icons">
        <a href="https://linkedin.com/in/jasonbayton" alt="Linkedin" rel="me"><i class="fab fa-linkedin"></i></a> 
        <a href="https://twitter.com/jasonbayton" alt="Twitter" rel="me"><i class="fab fa-twitter-square"></i></a> 
        <a href="https://instagram.com/baytonjason" alt="Instagram" rel="me"><i class="fab fa-instagram-square"></i></a> 
        <a href="https://github.com/jasonbayton" alt="GitHub" rel="me"><i class="fab fa-github-square"></i></a> 
        <a href="https://discord.gg/ub46Wgu5eC" alt="Discord"><i class="fab fa-discord"></i></a> 
    </div>
    <div id="platinum_logo">
        <a href="https://productexperts.withgoogle.com/directory/1f367772-bddc-43cf-b200-d5b344f4f5dd"><img src="/img/platinum.svg" width="30px" alt="Platinum GPE badge"></a>
    </div>
    {% if page.url != '/' %}
    <div id="footer_logos">
        <div id="footer_logo_text">
            Partners & organisations I've worked with 🚀
        </div>
        {% include "./trustedlogos.njk" %}
    </div>
    {% endif %}
    <div id="made_by">
        Made in 🏴󠁧󠁢󠁷󠁬󠁳󠁿 with 🔥 by Jason Bayton. Material is © 2009-{{ footer.currentYear() }}. <br>
        Built with <a href="https://11ty.dev">{{ eleventy.generator }}</a>, most recently on {{ footer.builtAt | dateFull }}. 
    </div>

    <script src="/js/darkmode.js"></script>
    <script src="/js/darkmodetoggle.js"></script>
    <script src="/js/mobile-menu.js"></script>

    <script type="text/human">
        /*
            @@@@@@@@@@@@@@@@@&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@
            @@@@@@@@@@@@@@@@@&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@
            @@@@@@@@@@@@@@@@&&&&&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@
            @@@@@@@@@@@@@@@&&&&&&@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@
            @@@@@@@@@@@@@@&&&&&&&@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@
            @@@@@@@@@@@@@&&&&&&&@@@@&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@
            @@@@@@@@@@@@&&&&&&&@@@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@
            @@@@@@@@@@@&&&&&&&@@@@@@@&&&&&&&@@@@@@@@@@@@@@@@@@@&&&&&&&&&&&&&&@@@@@@@@@@@@@@@@@&&&&&&&&&&&&&&@@&&&&&&&@@@@@@@@@@&&&&&&&&&&&@@@@@@@@&&&&&&&&&&&&&&&&@@@@@@@@@@@&&&&&&@@@@@@@@@@@&&&&&&&&&&&&&&@&&&&&&&@
            @@@@@@@@@@&&&&&&&@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@@&&&&&&&&&&&&&&&&&&&&@@@@@@@@@@@&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@&&&&&&&&&&&&&&@@@@@&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@&&&&&&@@@@@@@@&&&&&&&&&&&&&&&&&&&&&&&&&@
            @@@@@@@@@&&&&&&&@@@@@@@@@@@&&&&&&&@@@@@@@@@@@@@&&&&&&&&@@@@@@@&&&&&&&&@@@@@@@&&&&&&&&&@@@@@@@@&&&&&&&&&&&@@@@@&&&&&&&&&@@@@@@@@@@&&&&&&&&&@@@@@@@@&&&&&&&&&@@@@@@&&&&&&@@@@@@&&&&&&&&&@@@@@@@&&&&&&&&&&&@
            @@@@@@@@&&&&&&&@@@@@@@@@@@@@&&&&&&&@@@@@@@@@@@&&&&&&&@@@@@@@@@@@&&&&&&&@@@@@&&&&&&&@@@@@@@@@@@@@&&&&&&&&&@@@@&&&&&&&@@@@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@&&&&&&&&@@@@&&&&&&@@@@&&&&&&&&@@@@@@@@@@@@@&&&&&&&&@
            @@@@@@@&&&&&&&&@@@@@@@@@@@@@@&&&&&&&@@@@@@@@@&&&&&&&@@@@@@@@@@@@@&&&&&&&@@@&&&&&&&@@@@@@@@@@@@@@@@&&&&&&&@@@&&&&&&&@@@@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@@@&&&&&&&@@@@&&&&&&@@@@&&&&&&&@@@@@@@@@@@@@@@&&&&&&&@
            @@@@@@&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@&&&&&&&@@@@@@@@@@@@@&&&&&&&@@@&&&&&&@@@@@@@@@@@@@@@@@&&&&&&&@@@&&&&&&&@@@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@@@@@&&&&&&&@@@&&&&&&@@@&&&&&&&@@@@@@@@@@@@@@@@@&&&&&&@
            @@@@@&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&@@@@@@@&&&&&&&@@@@@@@@@@@@@&&&&&&&@@@&&&&&&@@@@@@@@@@@@@@@@@&&&&&&&@@@&&&&&&&@@@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@@@@@&&&&&&&@@@&&&&&&@@@&&&&&&&@@@@@@@@@@@@@@@@@&&&&&&@
            @@@@@&&&&&&&@@@@@@@@@@@@@@@@@@@&&&&&&&&@@@@@@&&&&&&&@@@@@@@@@@@@@&&&&&&&@@@&&&&&&&@@@@@@@@@@@@@@@&&&&&&&&@@@&&&&&&&@@@@@@@@@@@@&&&&&&&@@@@@@@@@@@@@@@@&&&&&&&@@@@&&&&&&@@@@&&&&&&&@@@@@@@@@@@@@@@&&&&&&&@
            @@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@&&&&&&&&@@@@@&&&&&&&@@@@@@@@@@@@@&&&&&&&@@@@&&&&&&&&@@@@@@@@@@@@&&&&&&&&&@@@&&&&&&&@@@@@@@@@@@@@&&&&&&&&@@@@@@@@@@@@@&&&&&&&@@@@@&&&&&&@@@@@&&&&&&&@@@@@@@@@@@@@&&&&&&&&@
            @@@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&&@@@@&&&&&&&@@@@@@@@@@@@@&&&&&&&@@@@@&&&&&&&&&&@@@@@@&&&&&&&&&&&&@@@&&&&&&&@@@@@@@@@@@@@@&&&&&&&&&&@@@@@@&&&&&&&&&&@@@@@@&&&&&&@@@@@@&&&&&&&&&&@@@@@@&&&&&&&&&&&@
            @@&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&&@@@&&&&&&&@@@@@@@@@@@@@&&&&&&&@@@@@@@&&&&&&&&&&&&&&&&&&&&&&&&&&@@@&&&&&&&@@@@@@@@@@@@@@@@&&&&&&&&&&&&&&&&&&&&&&@@@@@@@@&&&&&&@@@@@@@@&&&&&&&&&&&&&&&&&&&&&&&&&@
            @&&&&&&&@@@@@@@@@@@@@@@@@@@@@@@@@@@&&&&&&&@@@&&&&&&&@@@@@@@@@@@@@&&&&&&&@@@@@@@@@@@&&&&&&&&&&&&@@@&&&&&&&@@@&&&&&&&@@@@@@@@@@@@@@@@@@@@&&&&&&&&&&&&&&@@@@@@@@@@@@&&&&&&@@@@@@@@@@@&&&&&&&&&&&&&@@&&&&&&&@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@((((((#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%((((((&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((@@@@@(((((((((((((((((((((((((((((((@@@@@(((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((&&&&&&&%(((((((((((((((((((((((((((((((((((((((#&&&&&&&(((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@((((((((((((((((((&&&&&&&&&(((((((((((((((((((((((((((((((((((((((&&&&&&&&&((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@((((((((((((((((((&&&&&&&&&&(((((((((((((((((((((((((((((((((((((((&&&&&&&&&&((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@((((((((((((((((((((&&&&&&&(((((((((((((((((((((((((((((((((((((((((((&&&&&&&((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((((@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
        */
    </script>



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15864225-1"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-15864225-1');
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R1TSRTMCGJ"></script>
    <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-R1TSRTMCGJ');
    </script>

    <!-- Cloudflare Web Analytics -->
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "5116dc7b1b1240e4b472d35429b70c9b"}'></script>