    <div id="social_icons">
        <a href="https://linkedin.com/in/jasonbayton" alt="Linkedin"><i class="fab fa-linkedin"></i></a> 
        <a href="https://twitter.com/jasonbayton" alt="Twitter"><i class="fab fa-twitter-square"></i></a> 
        <a href="https://instagram.com/baytonjason" alt="Instagram"><i class="fab fa-instagram-square"></i></a> 
    </div>
    <div id="platinum_logo">
            <a href="https://productexperts.withgoogle.com/directory/1f367772-bddc-43cf-b200-d5b344f4f5dd"><img src="/img/platinum.svg" width="30px" alt="Platinum GPE badge"></a>
        </div>
    <div id="footer_logos">
        <div id="footer_logo_text">
            Partners & organisations I've worked with 🚀
        </div>
        {% include "./trustedlogos.njk" %}
    </div>
    <div id="made_by">
        Made in 🏴󠁧󠁢󠁷󠁬󠁳󠁿 with ❤️ by Jason Bayton. Material is © 2009-{{ footer.currentYear() }}. <br>
        Built with Eleventy, most recently on {{ footer.builtAt | dateFull }}
    </div>

    <script src="/js/darkmode.js"></script>
    <script src="/js/darkmodetoggle.js"></script>
    <!--script src="/js/search.js"></script-->
