<div id="well_hey">
    👋 Howdy! The website is freshly launched on a brand new backend, and incorporates changes to URLs of articles and docs. If you land on a 404
    not found, please try <a href="/search">searching</a> for your content, or <a href="https://github.com/jasonbayton/11ty/issues/new">raise an issue on GitHub</a>.
</div>
<nav>
    <div id="navbar">
        {% if page.url != '/'  %}
        <div id="bayton_logo">
            <a class="bayton-logo-light" href="/"><img src="/img/JasonBayton_black_SMALL.svg" alt="main logo"/></a>
            <a class="bayton-logo-dark" href="/"><img src="/img/JasonBayton_white_SMALL.svg" alt="main logo"/></a>
        </div>
        {% endif %}
        <div id="platinum_logo" {% if page.url != '/'  %} class="platinum-logo-right" {% endif %}>
            <a href="https://productexperts.withgoogle.com/directory/1f367772-bddc-43cf-b200-d5b344f4f5dd"><img src="/img/platinum.svg" width="30px" alt="Platinum GPE badge"/></a>
        </div>
        <div id="nav_links" class="mobile-hidden">
            {% for link in globalnav %}
            <div class="nav-link-individual">
                <a class="{% if link.url in page.url %} active {% endif %}" href="{{ link.url }}">{{ link.text }}</a>
            </div>
            {% endfor %} 
        </div>
        <div id="corner_search">
            <a class="{% if '/search' in page.url %} active {% endif %}" href="/search"><i class="fa fa-search"></i></a>
        </div>
        <div id="darktoggle">
            <i class="fas fa-clouds-moon"></i>
        </div>
    </div>
</nav>

