<div id="well_hey">
    Howdy! The website is freshly launched on a brand new backend, and incorporates changes to URLs of articles and docs. If you land on a 404
    not found, please try <a href="/search">searching</a> for your content, or <a href="https://github.com/jasonbayton/11ty/issues/new">raise an issue on GitHub</a>.
</div>
<nav>
    <div id="navbar">
        {% if page.url != '/'  %}
        <div id="bayton_logo">
            <a class="bayton-logo-light" href="/"><img src="/img/JasonBayton_black_SMALL.svg" alt="main logo"/></a>
            <a class="bayton-logo-dark" href="/"><img src="/img/JasonBayton_white_SMALL.svg" alt="main logo"/></a>
            <!--div id="bayton_text">
                <a  href="/">Jason Bayton</a>
            </div-->
        </div>
        {% endif %}
        <!--div id="searchform" class="mobile-hidden">
            <span class="fa fa-search" id="search_icon"></span>
            <input type="text" name="search" id="searchinput" placeholder="Search..">
        </div-->
        <div id="nav_links" class="mobile-hidden">
            {% for link in globalnav %}
            <div class="nav-link-individual">
                <a href="{{ link.url }}">{{ link.text }}</a>
            </div>
            {% endfor %} 
        </div>
        <div id="corner_search">
            <a href="/search"><i class="fa fa-search"></i></a>
        </div>
        <div id="darktoggle">
            <i class="fas fa-clouds-moon"></i>
        </div>
    </div>
</nav>

