        <script type="text/human">
          /*

          Are you sleuthing around in the source code? I like you already.
          Feel free to email me if you have any questions, jason@bayton.org

          ░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒░░░░░░░░░░░░░░░░▒▒▒▒░░░░░░░░░░░░░░░░░▒▒▒▒░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░░▒▒▒░░░░░░░░░░░░░░░░░▒▒▒░
          ▒█████████████████▓░░░░░░░░░░░░░░░░░░░░░░▒████▒░░░░░░░░░░░░░░░░████░░░░░░░░░░░░░░░▓███▒░░░░░░░░▓██████████████████████▓░░░░░░░░░░░░░░░░▒▓▓▓▓▓▓▒▒▒▒▒▓▓▓▒░░░░░░░░░░░░░░▓███▓░░░░░░░░░░░░░░░░███▒
          ▒███▒░░░░░░░░░░▒████▒░░░░░░░░░░░░░░░░░░░░██████░░░░░░░░░░░░░░░░░▓███▒░░░░░░░░░░░░████░░░░░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░░░░░░▒███▓░░░░░░░░░░░░▒▓▓▒░░░░░░░░░░░░▓█████▒░░░░░░░░░░░░░░███▒
          ▒███░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░░███▒▒███░░░░░░░░░░░░░░░░░▓███▒░░░░░░░░░░███▓░░░░░░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░░░░▒██▓░░░░░░░░░░░░░░░░░▒▓▓▒░░░░░░░░░░▓███████░░░░░░░░░░░░░███▒
          ▒███░░░░░░░░░░░░░▒███▒░░░░░░░░░░░░░░░░░███▓░░▓███░░░░░░░░░░░░░░░░░▒███▓░░░░░░░░███▓░░░░░░░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░░░▓██▒░░░░░░░░░░░░░░░░░░░▒▓▓▒░░░░░░░░░▓███▒████▓░░░░░░░░░░░███▒
          ▒███░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░▓███░░░░███▓░░░░░░░░░░░░░░░░░░███▓░░░░░▒███▒░░░░░░░░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░░▓██▒░░░░░░░░░░░░░░░░░░░░░▒▓▓░░░░░░░░░▓███░░▓████▒░░░░░░░░░███▒
          ▒███▒░░░░░░░░░░▒███▓░░░░░░░░░░░░░░░░░▒███░░░░░░███▒░░░░░░░░░░░░░░░░░░████░░░▓███░░░░░░░░░░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░░██▓░░░░░░░░░░░░░░░░░░░░░░░▓▓▓░░░░░░░░▓███░░░░████▓░░░░░░░░███▒
          ▒█████████████████▒░░░░░░░░░░░░░░░░░░███▒░░░░░░▒███░░░░░░░░░░░░░░░░░░░▓███░▓███░░░░░░░░░░░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░▒██▒░░░░░░░░░░░░░░░░░░░░░░░▓▓▓░░░░░░░░▓███░░░░░▒████▒░░░░░░███▒
          ▒███▓▒▒▒▒▒▒▒▒▒▒▒▓███▒░░░░░░░░░░░░░░░███▒░░░░░░░░▓███░░░░░░░░░░░░░░░░░░░▒██████░░░░░░░░░░░░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░▒██▓░░░░░░░░░░░░░░░░░░░░░░░▓▓▓░░░░░░░░▓███░░░░░░░▓███▓░░░░░███▒
          ▒███░░░░░░░░░░░░░░███▓░░░░░░░░░░░░░███▓░░░░░░░░░░████░░░░░░░░░░░░░░░░░░░▒███▓░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░░███░░░░░░░░░░░░░░░░░░░░░░▒▓▓▒░░░░░░░░▓███░░░░░░░░▒████▒░░░███▒
          ▒███░░░░░░░░░░░░░░▒███▒░░░░░░░░░░░▓███░░░░░░░░░░░░███▓░░░░░░░░░░░░░░░░░░░███▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░░░██▓░░░░░░░░░░░░░░░░░░░░░▓▓▒░░░░░░░░░▓███░░░░░░░░░░▓████░░███▒
          ▒███░░░░░░░░░░░░░░▒███▒░░░░░░░░░░▒███░░░░░░░░░░░░░▒███▒░░░░░░░░░░░░░░░░░░███▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░░░▒██▓░░░░░░░░░░░░░░░░░░▒▓▓▒░░░░░░░░░░▓███░░░░░░░░░░░░████▓███▒
          ▒███░░░░░░░░░░░░░▒████░░░░░░░░░░░███▒░░░░░░░░░░░░░░▓███▒░░░░░░░░░░░░░░░░░███▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░░░░░▓██▒░░░░░░░░░░░░░░▒▓▓▒░░░░░░░░░░░░▓███░░░░░░░░░░░░░▓██████▒
          ▒████▓▓▓▓▓▓▓▓▓▓█████▓░░░░░░░░░░░███▓░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░███▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░░░░░░░▓██▓▒░░░▒▒▒▒▒▓▓▓▒▒░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░█████▒
          ▒████████████████▓▒░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░███▓░░░░░░░░░░░░░░░░███▒░░░░░░░░░░░░░░░░░░░░░░░░░░░░▓███░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▓██▓▓▓▓▓▓▒▒░░░░░░░░░░░░░░░░░▒███░░░░░░░░░░░░░░░░▒███▒


          */
        </script>
        <meta charset="utf-8">
        <title>{{ title }} | Jason Bayton</title>
        <meta name="title" property="og:title" content=" {{ title }} | Jason Bayton">
        <link rel="canonical" href="https://bayton.org{{ page.url }}">
        <meta name="description" content="The website of Jason Bayton">
        <meta name="subtitle" content="Simplifying modern Android management">
        <meta name="author" content="Jason Bayton">
        <meta name="twitter:site" content="@jasonbayton">
        <meta name="color-scheme" content="light dark" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#ff4500">
        <meta name="view-transition" content="same-origin">
        <meta property="og:locale" content="en_GB">
	      <meta name="robots" content="index, follow">
        <meta property="og:title" content=" {{ title }} | Jason Bayton ">
        {% set description = excerpt or "Simplifying modern Android management" %}
        <meta property="og:description" content="{{ description | striptags | escape }}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://bayton.org{{ page.url }}">
        <meta property="og:image" content="https://bayton.org/img/bayton_logos/og_img.png">
        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="apple-touch-icon" href="/img/site_media/apple-touch-icon.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="me" href="mailto:jason@bayton.org">
        <link rel="webmention" href="https://webmention.io/bayton.org/webmention" />
        <link rel="pingback" href="https://webmention.io/bayton.org/xmlrpc" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <!--link rel="stylesheet" href="/css/fa.css"-->
        <link rel="stylesheet" href="/css/core.css">
        <link rel="stylesheet" href="/css/base.css">
        <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">

        <script>
                function spaNavigate(data) {
          // Fallback for browsers that don't support this API:
          if (!document.startViewTransition) {
            updateTheDOMSomehow(data);
            return;
          }

          document.startViewTransition(() => updateTheDOMSomehow(data));
        }
        </script>

        <script>
          if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
              navigator.serviceWorker.register('/pwabuilder-sw.js').then(function(registration) {
                console.log('ServiceWorker registration successful with scope: ', registration.scope);
              }, function(err) {
                console.log('ServiceWorker registration failed: ', err);
              });
            });
          }
        </script>

        <script src="/js/service-worker-FE-update.js"></script>
        
        <script
          src="https://js.sentry-cdn.com/04d3928a43344b9786687c888e37027d.min.js"
          crossorigin="anonymous">
        </script>

        <!--script async 
          src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1822240807262449"
          crossorigin="anonymous">
        </script-->
