        <meta charset="utf-8">
        <title>Jason Bayton | {{ title }}</title>
        <meta name="description" content="The website of Jason Bayton">
        <meta name="subtitle" content="#1 resource for independent Android Enteprise content">
        <meta name="author" content="Jason Bayton">
        <meta name="twitter:site" content="@jasonbayton">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Jason Bayton | {{ title }}">
        <meta property="og:description" content="#1 resource for independent Android Enteprise content">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://bayton.org">
        <meta property="og:image" content="/img/bayton.webp">
        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="stylesheet" href="/css/core.css">
        <link rel="stylesheet" href="/css/doc.css">
        <link rel="stylesheet" href="/css/webfonts.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15864225-1"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-15864225-1');
        </script>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-R1TSRTMCGJ"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-R1TSRTMCGJ');
        </script>

        <!-- Cloudflare Web Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "5116dc7b1b1240e4b472d35429b70c9b"}'></script>