                                  
                    <div id="vendor_logo_container_scroll" class='img-ticker'>
                        <div class="ticker">
                        {% for logo in logos %}
                            <div class="ticker-item">
                                <img src="{{ logo }}" width="116px" alt="vendor logo">
                            </div>
                        {% endfor %}
                        {% for logo in logos %}
                            <div class="ticker-item">
                                <img src="{{ logo }}" width="116px" alt="vendor logo">
                            </div>
                        {% endfor %}
                        {% for logo in logos %}
                            <div class="ticker-item">
                                <img src="{{ logo }}" width="116px" alt="vendor logo">
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div id="vendor_disclaimer">
                        Have we worked together? Support me by <a href="https://github.com/jasonbayton/11ty/issues/new">adding your logo</a>!
                    </div>
