<div class="aside-title increased-top-padding">
    <h2>Projects</h2>
</div>

{% macro renderNavListItem(entry) %}
<li>
  <a href="{{ entry.url }}" {% if entry.url == page.url %} class="active"{% endif %}>{{ entry.title }}</a>
  {% if entry.children.length %}
  <ul>
    {% for child in entry.children %}
      {% if not child.hidden %}
        {{ renderNavListItem(child) }}
      {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
</li>
{% endmacro %}

{% for project in projects %}

<details {% if project.slug in page.url %} open{% endif %}>
  <summary>{{ project.name }} <a href="/projects/{{ project.slug }}"><span class="material-symbols-outlined">open_in_new</span></a></summary>
  
  {% set navPages = collections.all | eleventyNavigation(project.name) %}
  
  <ul>
    {% for entry in navPages %}
      {% if not entry.hidden %}
        {{ renderNavListItem(entry) }}
      {% endif %}
    {% endfor %}
  </ul>
  
</details>

{% endfor %}