<div class="callout callout-orange">
    <div class="callout-heading">Further support or feature requests</div>
    <p>Are you in need of further help, or would you like to raise a feature request? You can:</p>
    <ul>
        {% if page.url.includes("managed-settings") %}
        <li>Submit <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYQrOPM0dKwCmcSjfxgoK2rQvhQXXyw2pk9nMqYBn0F2IhRw/viewform?usp=sf_link">feedback</a></li>
        <li>Raise a <a href="https://github.com/baytonorg/managed_settings_tracker/issues/new?assignees=jasonbayton&labels=bug&projects=&template=bug_report.md&title=Issue%3A+">feature request</a> on GitHub</li>
        <li>Join the <a href="https://discord.gg/YUY7jAjayr">BAYTON Discord</a></li>
        <li>Tag me on <a href="https://linkedin.com/in/jasonbayton">LinkedIn</a></li>
        {% elif page.url.includes("package-search") %}
        <li>Submit <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYQrOPM0dKwCmcSjfxgoK2rQvhQXXyw2pk9nMqYBn0F2IhRw/viewform?usp=sf_link">feedback</a></li>
        <li>Raise a <a href="https://github.com/baytonorg/package_search_tracker/issues/new?assignees=jasonbayton&labels=bug&projects=&template=bug_report.md&title=Issue%3A+">feature request</a> on GitHub</li>
        <li>Join the <a href="https://discord.gg/5yMfb9UWm9">BAYTON Discord</a></li>
        <li>Tag me on <a href="https://linkedin.com/in/jasonbayton">LinkedIn</a></li>
        {% elif page.url.includes("managed-info") %}
        <li>Submit <a href="https://docs.google.com/forms/d/e/1FAIpQLSdYQrOPM0dKwCmcSjfxgoK2rQvhQXXyw2pk9nMqYBn0F2IhRw/viewform?usp=sf_link">feedback</a></li>
        <li>Raise a <a href="https://github.com/baytonorg/managed_info_tracker/issues/new?assignees=jasonbayton&labels=bug&projects=&template=bug_report.md&title=Issue%3A+">feature request</a> on GitHub</li>
        <li>Join the <a href="https://discord.gg/7VzRZWVkht">BAYTON Discord</a></li>
        <li>Tag me on <a href="https://linkedin.com/in/jasonbayton">LinkedIn</a></li>
        {% elif page.url.includes("beam") %}
        {% else %}
        <li>Join the <a href="https://discord.gg/ub46Wgu5eC">BAYTON Discord</a></li>
        <li>Tag me on <a href="https://linkedin.com/in/jasonbayton">LinkedIn</a></li>

        {% endif %}
    </ul>
</div>