                                  
                    
                    <div class="rrjfc-text home-subheading">
                        Proudly sponsoring <strong>Rogerstone Rangers JFC</strong></div>
                    <a class="rrjfc-logo" href="https://www.rogerstonerangersjfc.co.uk/our-sponsors">
                        <img src="/img/rrjfc_coach.png" alt="Rogerstone Rangers Junior Football Club" width="900px" />
                    </a>
