                                  
                    
                    <div class="rrjfc-text home-subheading">
                        Proudly sponsoring <strong>Rogerstone Rangers JFC</strong>
                        <small>U11 team 2025-2026</small>
                    </div>
                    <a class="rrjfc-logo" href="https://www.rogerstonerangersjfc.co.uk/our-sponsors">
                        <img src="/img/rrjfc_coach.png" alt="Rogerstone Rangers Junior Football Club" width="700px" />
                    </a>
