
                    <div id="vendor_logo_container">
                    {% for logo in logos %}
                        <div class="vendor-logo">
                            <img src="{{ logo }}" width="116px" alt="vendor logo">
                        </div>
                    {% endfor %}
                    </div>
                    <div id="vendor_disclaimer">
                        Have we worked together? Support me by <a href="https://github.com/jasonbayton/11ty/issues/new">adding your logo</a>!
                    </div>
