/*core*/

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

:root, [data-theme='light'] {
  --light: #c9c9c9;
  --input: #f0f0f0;
  --dark: #333333;
  --bright: #ffffff;
  --text: #333333;
  --background: #ffffff;
  --blue: #0077b37a;
  --orange: #ff4500;
  --orange-opacity: #ff45009c;
  --blood-orange: #ce3800;
  --main-red: #c30000;
  --brand-background: #ffffff;
  --brand-text: #333333;
  --main-blue: #0283bd;
  --main-green: #15B007;
  --subtle-bg: #f1f1f1;
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #ff4500;
  --color-primary-200: #ff6028;
  --color-primary-300: #ff7743;
  --color-primary-400: #ff8c5d;
  --color-primary-500: #ffa077;
  --color-primary-600: #ffb491;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
}

[data-theme="dark"] {
  --light: #2d2d2d;
  --input: #333333;
  --dark: #292929;
  --bright: #ffffff;
  --text: #cfcfcf;
  --blood-orange: #9d2d03;
  --background: #000000;
  --blue: #0077b33b;
  --brand-background: #00284d;
  --brand-text: #cfcfcf;
  --orange-opacity: #ff450066;
  --subtle-bg: #242424;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: #2d2d2d;
    --input: #333333;
    --dark: #292929;
    --bright: #ffffff;
    --text: #cfcfcf;
    --blood-orange: #9d2d03;
    --background: #000000;
    --blue: #0077b33b;
    --brand-background: #00284d;
    --brand-text: #cfcfcf;
    --orange-opacity: #ff450066;
  }

  [data-theme='light'] {
    --light: #c9c9c9;
    --input: #f0f0f0;
    --dark: #333333;
    --bright: #ffffff;
    --text: #333333;
    --background: #ffffff;
    --blue: #0077b37a;
    --orange: #ff4500;
    --orange-opacity: #ff45009c;
    --blood-orange: #ce3800;
    --brand-background: #ffffff;
    --brand-text: #333333;
    --main-blue: #0283bd;
    --main-green: #15B007;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-display: fallback;
  color: var(--text);
  margin: 0;
  background-color: var(--background);
}

img, object, svg { max-width: 100%; display: block;}

content img { border-radius: 5px; }

.image-inline-text {
  width: 20px;
  margin: 0!important;
  display: inline-block;
  padding: 0;
  margin-bottom: -2px!important;
}

.material-symbols-outlined {
  font-size: inherit;
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24;
  vertical-align: middle;
}

#navbar .material-symbols-outlined {
  font-size: 120%;
  vertical-align: middle;
}

.meta-tiny .material-symbols-outlined {
  font-size: 110%;
}

.post-meta-base-right .material-symbols-outlined {
  vertical-align: middle;
}

audio { width: 80%; min-width: 300px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  padding: 0;
}

h3, h4, h5, h6 {
  font-weight: 400;
}

h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }

:is(h1, h2, h3, h4, h5) a {
  text-decoration: none;
  border-bottom: none;
}

:is(article :is(h1, h2, h3, h4, h5, h6)) a::after {
  content: "\f13d";
  font-size: 17px;
  vertical-align: super;
  padding-left: 10px;
  font-family: 'Font Awesome 5 Pro';
  cursor: pointer;
  display: none;
  transition: all 0.2s ease;
}

:is(article :is(h1, h2, h3, h4, h5, h6)) a:hover {
  all: unset;
}

:is(article :is(h1, h2, h3, h4, h5, h6)) a:hover::after {
  display: inherit;
  transition: all 0.2s ease;
}

blockquote {
  padding: 20px 20px 20px 60px;
  margin: 20px 0;
  border-radius: 5px;
  position: relative;
  border: 4px solid var(--orange);
}

blockquote::before{
  content: "\201C";
  font-size:4em;
  position: absolute;
  left: 20px;
  top:-10px;
  color: var(--orange);
}

blockquote::after{
  content: '';
}

.label {
  font-size: 70%;
  padding: 0 3px;
  background: var(--light);
  border-radius: 5px;
  text-wrap: nowrap;

  &.label-sup {
    vertical-align: text-top;
    vertical-align: super;
  }

  &.label-green {
    background: var(--main-green);
    color: white;
  }

  &.label-orange {
    background: var(--orange);
    color: white;
  }

  &.label-main-blue {
    background: var(--main-blue);
    color: white;
  }

  &.label-blue {
    background: var(--blue);
    color: white;
  }

  & .material-symbols-outlined {
    font-size: 130%;
    padding: 0 0 2px 2px;
  }
}

a {
  color: inherit;
  text-underline-offset: 2px;
}

a.active {
  color: var(--blood-orange);
}

.aside-section ul li a.active {
  color: var(--blood-orange);
}

a:hover {
  opacity: 0.8;
}

.text-orange {
  color: var(--orange)
}

.text-blue {
  color: var(--blue);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid var(--text);
}

*:focus {
  outline: 0;
}

cite {
  display: block;
  padding-top: 10px;
  font-size: 15px;
  color: #929292;
}

code {
  font-family: monospace;
  overflow-wrap: anywhere;
  overflow-x: scroll;
  color: var(--blood-orange);
}

pre {
  font-family: monospace;
  padding: 16px;
  overflow-wrap: anywhere;
  overflow-x: scroll;
  background-color: var(--dark);
  border-radius: 5px;
  color: var(--orange);
}

pre code {
  color: var(--orange);
  border: none;
  padding: 0;
}

input[type=text], 
input[type=email], 
input[type=password], 
input[type=tel], 
input[type=number], 
input[type=search], 
input[type=url], 
input[type=date],
input[type=time],
input[type=checkbox],
textarea,
select {
  background: var(--input);
  color: var(--text);
  border: 0;
  padding: 13px;
  border-radius: 5px; 
  outline: 2px solid transparent;
  outline-offset: -2px;
}

input::placeholder {
  color: var(--text);
  opacity: 0.6;
}

input:focus {
  outline: 2px solid var(--orange);
  transition: outline 0.3s ease-in-out;
}

.banner {
  background: var(--orange);
  padding: 10px;
  border-radius: 5px;
  color: var(--bright);
}

#af_group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  /*padding-top: 30px;*/
}

#af_group_split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  /*padding-top: 30px;*/
}

#af_img img {
  margin: 0 auto;
}

.responsive-table-wrapper {
  overflow-x: auto;
  display: block;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  font-size: 80%;
}

thead {
  background-color: #333;
  color: #fff;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.button {
  /* background-color: var(--brand-background); */
  border: 4px solid var(--orange);
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  background-color: var(--orange);
  color: var(--bright);
}

.button-small {
  padding: 4px 8px;
}

::-webkit-input-placeholder { color: #dbdbdb; }
::-moz-placeholder { color: #dbdbdb; }
::placeholder { color: #dbdbdb; }

.extra-bold {
  font-weight: 900!important;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.no-padding {
  padding: 0!important;
}

button {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  box-shadow: #00000016 0px 3px 8px;
  transition: all 0.2s ease;
  border: 0;
}

#darktoggle, #corner_search, #corner_menu {
  justify-self: center;
  padding: 10px;
}

#corner_menu, #menu_modal {
  display: none;
}

#bayton_logo {
  justify-self: start;
  padding-left: 10px;
}

#bayton_logo :is(img, object, svg) {
  width: 170px;
}

#platinum_logo {
  padding: 20px 0 0;
}

#platinum_logo img {
  width: 30px;
  margin: 0 auto;
}

.home-background {
  background: radial-gradient(circle, rgba(0,59,89,1) 0%, rgba(0,119,179,1) 50%, rgba(0,206,250,1) 87%, rgb(0, 213, 255) 100%);
  color: #FFFFFF;
}

#navbar {
  display: grid;
  padding: 15px 20px 15px;
  grid-template-columns: 180px 40px 5fr 60px 60px;
  align-items: center;
  height: 100px;
  max-width: 2800px;
  margin: 0 auto;
}

nav #nav_links {
  padding-top: 5px;
  font-size: 16px;
  padding-right: 20px;
  justify-self: end;
  grid-column-start: 3;
}

#nav_links a {
  text-decoration: none;
  transition: none;
  padding-left: 20px;
  border-bottom: none;
}

.nav-link-individual {
  display: inline;
}

content {
  padding: 30px 40px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  overflow-wrap: break-word;
}

content#home {
  display: grid;
  max-width: 100%;
  padding: 0;
}

.intro_wrapper{
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 0 100px;
  color: var(--bright);
}

/* Logo ticker */

.ticker {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  grid-gap: 30px;
  white-space: nowrap;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#vendor_logo_container_scroll {
  margin: 0 -40px;
  padding-top: 10px;
}

.img-ticker {
  animation: ticker 160s linear infinite;
}

.ticker-item img {
  border-radius: 0;
  max-width: unset;
  display: inline-block;
}

/* End ticker */


#highlight_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px 100px;
  padding-top: 50px;
}

.highlight-section h2 {
  margin: 0;
}

.highlight-section {
  border: 4px solid var(--orange);
  padding: 20px;
  border-radius: 5px;
}

.highlight-offside {
  border: none;
  align-self: center;
  font-size: 18px;
}

.highlight-offside-heading {
  font-weight: bold;
  padding-bottom: 15px;
}

.highlight-section > .post-block {
  padding: 10px 0;
}

.highlight-section > .post-block > .post-body {
  border-left: 4px solid var(--main-blue);
  padding-left: 10px
}

.highlight-section > .post-block > .post-body > .post-meta {
  font-size: 16px;
  padding: 0 0 5px;
}

.highlight-section > .post-block > .post-body > .post-title {
  font-size: 18px;
}

.highlight-section > .post-block > .post-body > .post-title a {
  text-decoration: none;
}

#what_i_do_community {
  grid-column: 2/3;
  grid-row: 2/3;
}

#community_offside {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-gap: 40px;
}

.community-icons {
  display: grid;
  align-items: end;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.community-heading {
  text-align: center;
}

#what_i_do_consultancy {
  grid-column: 1/2;
  grid-row: 3/4;
}
#what_i_do_validation {
  grid-column: 2/3;
  grid-row: 4/5;
}

.post-body-notes {
  font-size: 18px;
}

.post-body-notes a {
  word-break: break-all;
}

.post-body-notes .post-meta {
  padding: 0;
  color: var(--blood-orange);
}

.post-social, .generator-bg {
  padding: 15px 30px;
  background: var(--subtle-bg);
  border-radius: 20px;

  & select {
    background-color: var(--background);
  }

  & input {
    background-color: var(--background);

    &::placeholder {
      color: var(--text);
    }
  }
}

.post-social .meta-grid .meta-author .author-address {
  font-size: 80%;
}

.post-social .meta-grid {
  display: grid;
  grid-template-columns: 60px 1fr 1fr;
}
.post-social .meta-grid .meta-author a {
  text-decoration: none;
}

.post-social .meta-grid .meta-single {
  align-self: center;
  justify-self: end;
  text-align: right;
}
.post-social .meta-grid .meta-single a.note-date {
  display: block;
}

content#doc {
  display: grid;
  grid-template-columns: 1.4fr 4fr;
  padding-top: 60px;
  grid-gap: 30px;
}

content#page, content#search, content#archive, content#generator {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 60px;
}

.project-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  padding-top: 40px;
}
.projects-overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 60px;
  gap: 60px 30px;
}

.project-description .button {
  float: right;
}

#banner_statement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  font-size: 16px;
  color: #7a7a7a;
}

.banner-statement-individual {
  text-align: center;
}

#Jason_Bayton img {
  width: 500px;
  height: 288px;
}

#intro_block {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
}

#intro_heading {
  font-weight: 400;
  font-size: 70px;
}

.home-heading {
  font-weight: 400;
  font-size: 55px;
}

#intro_subheading, .home-subheading {
  font-size: 26px;
}

.partner-heading {
  text-align: center;
}

#intro_cta {
  justify-self: center;
}

#intro_heading p, .home-heading p {
  margin: 0;
}

#intro_text {
grid-column: 1/-1;
}

#intro_android {
  text-align: center;
  font-size: 24px;
  padding: 10px;
}

.cta {
  padding-top: 15px;
}

#android_head {
  margin: 0 auto;
  /* padding-top: 20px; */
  align-self: center;
}

#header_banner {
  background-color: #000000;
  font-size: 12px;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 10px;
  align-items: center;
  color: var(--bright);
}

#header_banner a {
  display: inline;
}

div:hover g#swirl_2, div:active g#swirl_2 {
  transition: transform 0.6s ease-in-out;
  transform: rotate(360deg);
  transform-box: fill-box;
  transform-origin: center;
}
div:hover path#exclude, div:active path#exclude {
  transition: fill 0.6s ease-in-out;
  fill: var(--orange)
}

#well_hey img {
  max-width: 50px;
  margin: 0;
}

:is(.heading-wrapper :is(h1, h2, h3, h4)) {
  display: inline;
}

:is(.post-content :is(h1, h2, h3, h4)) {
  font-size: 26px;
}

.home-section {
  padding: 100px 40px 0;
  max-width: 1200px;
  justify-self: center;
}

.year-block {
  padding-bottom: 30px;
}

section#page_content {
  min-height: 600px;
  overflow-x: hidden;
}

section#posts_container {
  display: grid;
  grid-template-columns: 1fr;
  background: radial-gradient(circle, #ce3800 0%, #d33900 50%, #FF5722 87%, #fa4006 100%);
  color: var(--bright);
  padding: 100px 0;
  margin-top: 100px;
}

section#posts_container .button {
  background-color: #000000;
  color: var(--bright);
  border: #000000;
}

section#posts_container a {
  color: var(--bright);
}

section#posts_container code {
  color: black;
}

section#posts {
  max-width: 1900px;
  padding-top: 0;
  padding-bottom: 0;
}

#author_bio {
  padding-top: 20px;
  text-align: right;
  color: var(--blood-orange);
}

.post-block {
  padding: 15px 0;
}

.generator-bg {
  margin: 15px 0;
}

.post-block-extra {
  padding: 30px 0;
}

.post-block details, .post-block-extra details {
  margin-block-end: 1em;
  margin-block-start: 1em;
}

.post-block-extra img {
  margin: 20px 0;
}

.post-block dd, .post-block-extra dd, #page_content dd {
  padding-bottom: 20px;
}

.post-block dt, .post-block-extra dt, #page_content dt{
  padding-bottom: 10px;
}

.post-title {
  margin: 0;
  font-weight: 400;
}

.post-meta {
  padding: 10px 0;
  display: block;
}

.post-meta-condensed { 
  font-size: 18px;
}

.post-meta-condensed > .meta-single {
  display: inline;
  padding-right: 20px;
}

#android_post_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-gap: 40px;
}

.android-topic ul li::marker {
  content: "\f17b";
  font-family: "Font Awesome 5 Brands";
  color: #78c657;
  padding-right: 5px;
}

.android-topic ul {
  padding-inline-start: 25px;
}

.android-topic ul li {
  padding: 0 8px 15px;
}

.android-topic ul li a {
  text-decoration: none;
}

.field {
  padding: 40px 0;
}

.field-qr {
  padding: 10px 0 15px;
}

#searchField {
  padding: 15px;
  font-size: 24px;
  border-radius: 5px;
  width: 100%;
}

.input-text {
  font-size: inherit; 
  width: 90%;
}

.input-dropdown {
  width: 56%;
}

.check {
  padding: 5px 0;
}

.field-title {
  padding-bottom: 5px;
}

canvas#generated_qr {
  max-width: 100%;
  height: unset !important;
}

#generated_qr img {
  border: 2px solid var(--orange);
  max-width: 512px;
  width: 99%;
  height: auto;
}

#generate_code {
  margin-bottom: 30px;
}

/*#searchField::placeholder {
  color: var(--light)
}*/

button#back_button, button#next_button {
  font-size: 22px;
  padding: 10px 40px;
  margin: 0 40px;
}

section#trusted_logos #trusted_container {
  margin: 0 auto;
}

#android-doc-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding-top: 40px;
}

.trusted-tag {
  font-size: 18px;
  padding-top: 10px;
  font-weight: 500;
}

#vendor_logo_container {
  padding: 20px 30px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  border-radius: 5px;
  margin-top: 50px;
  grid-gap: 30px
}

.vendor-logo {
  align-self: center;
  justify-self: center;
}

.vendor-logo img {
  max-width: 100%;
  width: 116px;
  border-radius: 0;
}

#vendor_disclaimer {
  font-size: 12px;
  text-align: center;
  padding-top: 8px;
}

#post_container {
  /*padding-top: 30px;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

#doc_container {
  /*padding-top: 30px;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.side-note {
  color: var(--blood-orange);
}

.meta-tag {
  text-transform: lowercase;
  color: var(--blood-orange);
}

.eleventy-plugin-youtube-embed {
  margin: 30px 0;
}

.eleventy-plugin-twitter-embed {
  margin: 30px 0;
}

.dpc-vendor b {
  display: block;
}

.dpc-vendor img {
  float: left;
  padding-right: 10px;
  border-radius: 0;
}

#dpc_extras {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  padding-bottom: 30px;
}

.tag-more-link {
  padding: 20px 0;
  display: block;
  color: var(--blood-orange);
}

#support-split {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 30px;
}

#content_report {
  float: right;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

footer {
  padding: 120px 0 0;
  text-align: center;
}

#subscribe_section {
  padding: 0 0 40px 0;
}
#subscribe_button {
  font-size: 20px;
}

#subscribe_input {
  padding: 14px;
  font-size: 20px;
}

#social_icons {
  font-size: 30px;
  display: inline;
}

#made_by {
  text-align: center;
  padding: 40px 30px 10px;
  font-size: 16px;
}

#made_by a {
  text-decoration: none;
}

#footer_logos {
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

#partner_logos {
  padding: 50px 40px 0;
  overflow: hidden;
}

#partner_logos #vendor_disclaimer {
  text-align: right;
}

#footer_logos #vendor_logo_container {
  margin-top: 0;
}

#footer_logo_text {
  padding-bottom: 8px;
}

/* Content and imported styles */
/* Side notes for calling out things
-------------------------------------------------- */

.callout {
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--brand-text);
    background: var(--subtle-bg);

  &.callout-orange {
      background: var(--orange);
      color: #ffffff;

      & .callout-heading::after {
        background-color: #ffffff;
      }
  }

  &.callout-blue {
    background: var(--main-blue);
    color: #ffffff;

    & .callout-heading::after {
      background-color: #ffffff;
    }
  }

  &.callout-red {
    background: var(--main-red);
    color: #ffffff;

    & .callout-heading::after {
      background-color: #ffffff;
    }
  }

  & .callout-heading {
      font-size: 30px;
      font-weight: 300;
      width: fit-content;

      &::after {
        content: '';
        height: 4px;
        display: block;
        clear: both;
        background-color: var(--text);
        border-radius: 5px;
        margin-top: 15px;
    }
  }

  & .callout-heading-small {
    font-size: 24px;

    & .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
      max-width: 30px;
    }

    &::after {
      content: '';
      height: 2px;
      display: block;
      clear: both;
      background-color: var(--text);
      border-radius: 5px;
      margin-top: 6px;
    }
  }

  &.callout-small {
      border: 0;
      padding: 3px;
      background: var(--dark);
      color: var(--bright);
      margin: 30px 0 0;

      & p {
        margin: 0;
        padding: 5px;
    }
      & .material-symbols-outlined {
        font-size: 115%;
        padding-right: 6px;
    }
  }
}

.heading-anchor { 
  display: none;
}

.heading-wrapper:hover .heading-anchor {
  display: unset;
}

.nav-link-individual a {
  text-decoration: none;
}

.toc ol {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.toc ol li {
  list-style-type: none;
  padding: 5px 0
}

.toc ol li a {
  text-decoration: none;
}

.toc ol li ol {
  margin-bottom: -5px;
  padding-left: 10px;
}

#mobile_toc {
  display: none;
  padding: 25px 0 15px;
  border-bottom: 1px solid var(--text);
}

#mobile_toc details summary {
  font-weight: 700;
}

#mobile_toc details .toc ol {
  list-style-type: none; 
  padding: 0;
  margin: revert;
}

#mobile_toc details .toc ol li {
  list-style-type: none;
  padding: 5px 0
}

#mobile_toc details .toc ol li a {
  text-decoration: none;
}

#mobile_toc details .toc ol li ol {
  margin-bottom: -5px;
  padding-left: 10px;
}

#mobile_aside {
  display: none;
}

#mobile_aside .aside-section {
  border-top: 1px solid var(--text);
}

.logo-section {
  overflow: hidden;
  width: 100%;
  background-color: var(--bright);
}

.logo-section img {
  padding: 30px;
  height: 40px;
}

.logo-container {
  display: flex;
  animation: scroll 40s linear infinite alternate;  /* The 'alternate' value makes the animation reverse direction every cycle */
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }  /* This value should be the total width of all the logos */
}

/* Media */

@media (min-width: 1800px) {
  content {
    max-width: 1600px;
  }
}

@media (max-width: 1190px) {
  #intro_cta {
    justify-self: end;
    grid-row: 5/5;
    grid-column: 1/-1;
  }

  .img-ticker {
    animation: ticker 120s linear infinite;
  }

  #intro_subheading, .home-subheading {
    grid-column: 1/-1;
  }
}

@media (max-width: 1060px) {

}

@media (max-width: 900px) {

  body {
    font-size: 16px;
  }

  section#page_content {
    min-height: unset;
  }

  #subscribe_button {
    font-size: 16px;
    margin: 5px 0;
  }
  
  #subscribe_input {
    font-size: 16px;
  }

  .image-inline-text {
    width: 16px;
  }
  
  h2 { font-size: 30px; }
  h3 { font-size: 24px; }
  h4 { font-size: 18px; }
  h5 { font-size: 18px; }
  
  :is(article :is(h1, h2, h3, h4, h5, h6)) a::after {
    font-size: 12px;
  }

  #searchField {
    font-size: 20px;
  }

  #intro_subheading, .home-subheading{
    font-size: 22px;
  }

  .intro_wrapper {
    padding-bottom: 0px;
  }

  .mobile-50-padding {
    padding-top: 50px;
  }

  #mobile_aside {
    display: inherit;
    grid-column-start: 1;
  }

  #mobile_toc {
    display: inherit;
  }

  .field-mobile {
    padding: 0 0 10px;
  }

  #mobile_menu {
    display: inherit;
  }

  #corner_menu {
    display: unset;
    justify-self: end;
  }

  #menu_modal {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  #menu_modal.visible {
    opacity: 1;
    visibility: visible;
  }
  
  #menu_modal ul {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #menu_modal a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
    color: var(--text);
  }

  #clear-storage {
    color: var(--text);
  }
  
  #menu_close {
    position: absolute;
    top: 40px;
    right: 25px;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    background: var(--background);
    box-shadow: none;
    color: var(--text);
  }

  #navbar {
    grid-template-columns: 1fr 60px 60px 60px;
    padding: 10px 20px;
    font-size: 20px;
  }

  #darktoggle {
    justify-self: end;
    cursor: pointer;
  }

  #corner_search {
    grid-column-start: 2;
    justify-self: end;
  }

  #bayton_logo {
    padding: unset;
  }

  #intro_heading, .home-heading, #intro_text, #intro_android {
    grid-area: auto;
    border: none;
  }

  #intro_heading {
    font-size: 50px;
    padding-bottom: 30px;
  }
  
  .home-heading {
    font-size: 40px;
    padding-bottom: 30px;
  }

  #intro_android {
    padding-top: 20px;
    padding-bottom: 20px;
    grid-row: 1/1;
  }

  .aside-section ul li a.active {
    background: none;
    display: unset;
    margin: unset;
    padding: unset;
    border-radius: unset;
  }

  #post_container, 
  #android-doc-container, 
  #af_group, 
  #af_group_split, 
  #dpc_extras, 
  #intro_block, 
  #doc_container,
  #support-split, 
  .project-grid, 
  .projects-overview {
    grid-template-columns: 1fr;
    grid-column-gap: unset;
  }

  .projects-overview {
    grid-row-gap: 60px;
  }

  #vendor_logo_container {
    grid-template-columns: repeat(4, 1fr);
  }

  .img-ticker {
    animation: ticker 50s linear infinite;
  }

  #partner_logos #vendor_logo_container {
    grid-template-columns: repeat(3, 1fr);
  }

  #vendor_disclaimer {
    font-size: 10px;
    padding-top: 15px; 
  }

  #partner_logos #vendor_disclaimer {
    text-align: center;
    padding-top: 5px;
  }

  .home-section {
    padding: 50px 40px
  }

  #highlight_container {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  #what_i_do_community, #what_i_do_consultancy, #what_i_do_validation {
    grid-column: unset;
    grid-row: unset;
  }

  #footer_logos {
    max-width: 500px;
  }

}

@media (max-width: 490px) {

  #android_head {
    max-width: 140px;
  }

  h2 { font-size: 26px; }
  h3 { font-size: 20px; }
  h4 { font-size: 16px; }
  h5 { font-size: 14px; }

  .img-ticker {
    animation: ticker 25s linear infinite;
  }

  .post-social .meta-grid {
    grid-template-columns: 60px 1fr;
    grid-column-gap: unset;
  }

  .post-social .meta-grid .meta-single {
    grid-row: 1/2;
    grid-column: 1/3;
    padding-bottom: 15px;
    justify-self: start;
  }

}

@media (max-width: 390px) {
  #intro_heading {
    font-size: 36px;
    text-align: center;
  }  
  
  .home-heading {
    font-size: 28px;
    text-align: center;
  }

  .home-subheading {
    font-size: 20px;
  }

  #android_head {
    max-width: 70px;
  }

  .img-ticker {
    animation: ticker 20s linear infinite;
  }

  section#link_out {
    grid-template-columns: 1fr;
  }
}

#aside {
  font-size: 18px;
  padding: 20px;
}

.aside-title h2 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 28px;
}

.aside-section ul li a {
  text-decoration: none;
}

.aside-section ul li {
  padding: 5px 0;
}

.aside-section ul {
  padding-left: 0;
  list-style: none;
  list-style-type: none;
}

.project-nav ul {
  padding-left: initial;
  padding-left: 20px;
  padding-top: 5px;
}

.project-nav > ul {
  padding-left: 0;
  padding-top: 0;
}

.support-list ul li {
  padding: 5px 0;
}

.support-list ul li svg {
  display: inline-block;
  vertical-align: middle;
}

.support-list ul {
  padding-left: 0;
  list-style: none;
  list-style-type: none;
}

.docnav-topic-title {
  font-weight: 700;
}

.docnav-topic-title:hover {
  cursor: pointer;
}

.aside-title.increased-top-padding {
  padding-top: 40px;
}

ul.gitlog-list {
  margin-top: 0;
}

.gitlog-time {
  font-weight: 700;
}

a.gitlog-title {
  display:block;
  text-transform: lowercase;
  font-size: 16px;
}

.section-title {
  margin: 0; 
  font-size: 36px;
  font-weight: 600;
  padding: 0;
}

.post-archive {
  padding-top: 40px;
  float: right;
}

.search-results {
  padding: 0 0 0 0.25em;
}

.search-results > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search-results > ul > li {
  margin-bottom: 1em;
}

.search-results a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.search-results a:hover {
opacity: 0.8;
}

.search-results h2 {
margin-bottom: 0.5rem;
}

.search-results p:not(.search-no-results) {
font-weight: 400;
font-size: 1rem;
margin-top: 0;
}

.search-no-results {
margin-top: 1.5rem;
font-size: 1.25rem;
}

#search-field {
position: relative;
}
/* Search input spinner */
#debouncing {
position: absolute;
top: 2.2rem;
right: 1.2rem;
width: 2rem;
height: 2rem;
border-radius: 50%;
background: conic-gradient(#0000 1%, #444);
-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
animation: spinner 500ms infinite linear;
}
@keyframes spinner {
to {
  transform: rotate(1turn);
}
}

.year-heading {
  font-weight: 900;
}

.post-meta-base {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 0;
}

.post-meta-base-left {
  justify-self: start
}
.post-meta-base-right {
  justify-self: end
}

.meta-tiny {
  font-size: 10px;
  display: block;
  padding-bottom: 3px;
}

.meta-single svg {
  width: 20px;
}

.meta-single .meta-tiny svg {
  width: 10px;
}

.base-title {
  font-size: 80px;
  font-weight: 900;
  line-height: 66pt;
}

.project-title { 
  padding-bottom: 40px;
}

#aside_docs {
  padding-top: 30px;
}

#android_doc_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

#android_doc_grid .android-doc-grid-group {
  padding: 10px;
  background-color: var(--blue);
  border-radius: 5px;
  display: grid;
  grid-template-rows: min-content;
}

#android_doc_grid .android-doc-grid-group h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
#android_doc_grid .android-doc-grid-group .android-topic ul { 
  list-style-type: none;
  padding-left: 0;
}

#android_doc_grid .android-doc-grid-group .android-topic ul li {
  padding: 0 0 15px;
}

#android_doc_grid .android-doc-grid-group .android-topic ul li::marker {
  content: "";
}

#android_doc_grid .android-doc-grid-group #android_viewmore {
  text-align: right;
  align-self: end;

}

section#sharebox {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 20px;
  background: var(--main-green);
  border-radius: 5px;
  color: #000000;
}

.share-text {
  padding-top: 10px;
}

.share-links {
  display: grid;
  grid-auto-flow: column;
  padding: 20px 3px 10px;
  grid-gap: 18px;
}

.link-icons a:hover {
  background: rgba(255, 255, 255, 0.586);
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  padding: 2px 4px;
}

section#feedback {
  grid-column: 1 / span all;
  justify-self: end;
}

section#link_out {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 30px;
}

.links-out {
  padding: 20px;
  background-color: var(--main-blue);
  border-radius: 5px;
  display: block;
  color: var(--bright);
}

section#note_overview {
  border-radius: 5px;
  background: var(--orange);
  color: var(--bright);
}

@media (max-width: 900px) {
  content#doc{
      grid-template-columns: 1fr;
      grid-gap: 0;
  }

  #android_doc_grid {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
  }

  section#feedback, section#comment-system, section#link_out, section#note_overview {
      grid-column-start: 1;
  }

  section#note_overview {
      margin-top: 40px; 
  }

  .meta-single {
      font-size: 14px;
  }

  .base-title {
      font-size: 30px;
      line-height: unset;
      margin:auto;
  }
}

@media (max-width: 390px) {

  .section-title {
    font-size: 30px;
  }
}