/*core*/

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

:root {
  --light: #c9c9c9;
  --dark: #333333;
  --bright: #ffffff;
  --text: #333333;
  --background: #ffffff;
  --blue: #f0f8ff;
  --orange: #ff4500;
  --blood-orange: #ce3800;
  --brand-background: #ffffff;
  --brand-text: #333333;
  --blue-green: #2596BE;
  --dark-blue: #00284d;
}

[data-theme="dark"] {
  --light: #2d2d2d;
  --dark: #292929;
  --bright: #CFCFCF;
  --text: #cfcfcf;
  --background: #000000;
  --blue: #00284d;
  --brand-background: #00284d;
  --brand-text: #cfcfcf;
}

[data-theme="light"] .bayton-logo-dark {
  display: none;
}

[data-theme="dark"] .bayton-logo-light {
  display: none;
}

.bayton-logo-dark, .bayton-logo-light {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: #2d2d2d;
    --dark: #292929;
    --bright: #CFCFCF;
    --text: #cfcfcf;
    --background: #000000;
    --blue: #00284c;
    --brand-background: #00284d;
    --brand-text: #cfcfcf;

}

  [data-theme="light"] {
    --light: #c9c9c9;
    --dark: #333333;
    --bright: #ffffff;
    --text: #333333;
    --background: #ffffff;
    --blue: #f0f8ff;
    --brand-background: #ffffff;
    --brand-text: #333333;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --light: #c9c9c9;
    --dark: #333333;
    --bright: #ffffff;
    --text: #333333;
    --background: #ffffff;
    --blue: #f0f8ff;
    --brand-background: #ffffff;
    --brand-text: #333333;

  }

  [data-theme="dark"] {
    --light: #2d2d2d;
    --dark: #292929;
    --bright: #CFCFCF;
    --text: #cfcfcf;
    --background: #000000;
    --blue: #00284c;
    --brand-background: #00284d;
    --brand-text: #cfcfcf;

  }
}

body {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-display: fallback;
  color: var(--text);
  margin: 0;
  background-color: var(--background);
}

img, object, svg { max-width: 100%; display: block;}

content img { border-radius: 5px; }

audio { width: 80%; min-width: 300px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  padding: 0;
}

h3, h4, h5, h6 {
  font-weight: 400;
}

h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }

:is(h1, h2, h3, h4, h5) a {
  text-decoration: none;
  border-bottom: none;
}

:is(article :is(h1, h2, h3, h4, h5, h6)) a::after {
  content: "\f13d";
  font-size: 17px;
  vertical-align: super;
  padding-left: 10px;
  font-family: 'Font Awesome 5 Pro';
  cursor: pointer;
  display: none;
  transition: all 0.2s ease;
}

:is(article :is(h1, h2, h3, h4, h5, h6)) a:hover {
  all: unset;
}

:is(article :is(h1, h2, h3, h4, h5, h6)) a:hover::after {
  display: inherit;
  transition: all 0.2s ease;
}

blockquote {
  background: var(--blue);
  padding: 20px 20px 20px 40px;
  margin: 20px 0;
  border-radius: 5px;
  color: var(--text);
  position: relative;
}

blockquote::before{
  content: "\201C";
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

a {
  color: inherit;
}

a.active {
  color: var(--blood-orange);
}

a:hover {
  opacity: 0.8;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid var(--text);
}

*:focus {
  outline: 0;
}

cite {
  display: block;
  padding-top: 10px;
  font-size: 15px;
  color: #929292;
}

code {
  font-family: monospace;
  overflow-wrap: anywhere;
  overflow-x: scroll;
  color: var(--blood-orange);
}

pre {
  font-family: monospace;
  color: var(--text);
  background-color: var(--blue);
  border-radius: 6px;
  padding: 16px;
  overflow-wrap: anywhere;
  overflow-x: scroll;
}

pre code {
  background: none;
  border: none;
  padding: 0;
}

#af_group {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
  /*padding-top: 30px;*/
}

#af_group_split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  /*padding-top: 30px;*/
}

#af_img img {
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

thead {
  background-color: #333;
  color: #fff;
}

th,
td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.button {
  /* background-color: var(--brand-background); */
  border: 4px solid var(--orange);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--brand-text);
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
}

.button-small {
  padding: 4px 8px;
}

::-webkit-input-placeholder { color: #dbdbdb; }
::-moz-placeholder { color: #dbdbdb; }
::placeholder { color: #dbdbdb; }

.extra-bold {
  font-weight: 900!important;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.no-padding {
  padding: 0!important;
}

button {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  box-shadow: #00000016 0px 3px 8px;
  transition: all 0.2s ease;
  border: 0;
}

#darktoggle, #corner_search, #corner_menu {
  justify-self: center;
  padding: 10px;
}

#corner_menu, #menu_modal {
  display: none;
}

#bayton_logo {
  justify-self: start;
}

#bayton_logo :is(img, object, svg) {
  width: 170px;
}

#platinum_logo {
  padding: 20px 0 0;
}

#platinum_logo img {
  width: 30px;
  margin: 0 auto;
}

#navbar {
  display: grid;
  padding: 15px 20px 15px;
  grid-template-columns: 180px 40px 5fr 60px 60px;
  color: var(--text);
  align-items: center;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

nav #nav_links {
  padding-top: 5px;
  font-size: 16px;
  padding-right: 20px;
  justify-self: end;
  grid-column-start: 3;
}

#nav_links a {
  text-decoration: none;
  transition: none;
  padding-left: 20px;
  border-bottom: none;
}

.nav-link-individual {
  display: inline;
}

content {
  padding: 30px 40px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  color: var(--text);
  overflow-wrap: break-word;
}

content#home {
  display: grid;
}

content#doc {
  display: grid;
  grid-template-columns: 1.4fr 4fr;
  padding-top: 60px;
  grid-gap: 30px;
}

content#page, content#search, content#archive {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 60px;
}

#banner_statement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  font-size: 16px;
  color: #7a7a7a;
}

.banner-statement-individual {
  text-align: center;
}

#Jason_Bayton img {
  width: 500px;
  height: 288px;
}

#intro_block {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
}

#intro_heading {
  grid-area: 2/1/2/2;
  font-weight: 900;
  font-size: 80px;
}

#intro_heading p {
  margin: 0;
}

#intro_text {
  grid-area: 3/1/3/3;
  padding-top: 30px;
}

#intro_text details summary {
  font-weight: 900;
  font-size: 25px;
  padding-top: 30px;
}

#intro_android {
  grid-area: 2/2/3/3;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  background-color: var(--blue);
  border-radius: 5px;
}

#android_head {
  width: 140px;
  height: 116px;
  margin: 0 auto;
  padding-top: 20px;
}

#header_banner {
  background-color: #000000;
  font-size: 12px;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 10px;
  align-items: center;
  color: var(--bright);
}

#header_banner a {
  display: inline;
}

#well_hey img {
  max-width: 50px;
  margin: 0;
}

:is(.heading-wrapper :is(h1, h2, h3, h4)) {
  display: inline;
}

:is(.post-content :is(h1, h2, h3, h4)) {
  font-size: 26px;
}

.home-section {
  padding: 100px 0 0;
}

.year-block {
  padding-bottom: 30px;
}

section#page_content {
  min-height: 600px;
  overflow-x: hidden;
}

#author_bio {
  padding-top: 20px;
  text-align: right;
  color: var(--blood-orange);
}

.post-block {
  padding: 15px 0;
}

.post-block-extra {
  padding: 30px 0;
}

.post-block-extra img {
  margin: 20px 0;
}

.post-title {
  margin: 0;
  font-weight: 400;
}

.post-summary {
  opacity: 0.7;
}

.post-meta {
  padding: 10px 0;
  display: block;
}

.post-meta-condensed { 
  font-size: 18px;
}

.post-meta-condensed > .meta-single {
  display: inline;
  padding-right: 20px;
}

#android_post_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-gap: 40px;
}

.android-topic ul li::marker {
  content: "\f17b";
  font-family: "Font Awesome 5 Brands";
  color: #78c657;
  padding-right: 5px;
}

.android-topic ul {
  padding-inline-start: 25px;
}

.android-topic ul li {
  padding: 0 8px 15px;
}

.android-topic ul li a {
  text-decoration: none;
}

.field {
  padding: 40px 0;
}

#searchField {
  padding: 15px;
  font-size: 24px;
  border-radius: 5px;
  width: 100%;
}

#searchField::placeholder {
  color: var(--light)
}

button#back_button, button#next_button {
  font-size: 22px;
  padding: 10px 40px;
  margin: 0 40px;
}

section#trusted_logos #trusted_container {
  margin: 0 auto;
}

#android-doc-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding-top: 40px;
}

.trusted-tag {
  font-size: 18px;
  padding-top: 10px;
  font-weight: 500;
}

#vendor_logo_container {
  padding: 20px 30px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  background: var(--bright);
  border-radius: 5px;
  margin-top: 50px;
  grid-gap: 30px
}

.vendor-logo {
  align-self: center;
  justify-self: center;
}

.vendor-logo img {
  max-width: 100%;
  width: 116px;
}

#vendor_disclaimer {
  font-size: 12px;
  text-align: center;
  padding-top: 8px;
}

#post_container {
  /*padding-top: 30px;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

#doc_container {
  /*padding-top: 30px;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.meta-tag {
  text-transform: lowercase;
  color: var(--blood-orange);
}

.eleventy-plugin-youtube-embed {
  margin: 30px 0;
}

.eleventy-plugin-twitter-embed {
  margin: 30px 0;
}

.dpc-vendor b {
  display: block;
}

.dpc-vendor img {
  float: left;
  padding-right: 10px;
  border-radius: 0;
}

#dpc_extras {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  padding-bottom: 30px;
}

.tag-more-link {
  padding: 20px 0;
  display: block;
  color: var(--blood-orange);
}

#content_report {
  float: right;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

footer {
  padding: 120px 0 0;
  text-align: center;
}

#social_icons {
  font-size: 30px;
  display: inline;
}

#made_by {
  text-align: center;
  padding: 40px 30px 10px;
}

#made_by a {
  text-decoration: none;
}

#footer_logos {
  margin: 0 auto;
  max-width: 1000px;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

#footer_logos #vendor_logo_container {
  margin-top: 0;
}

#footer_logo_text {
  padding-bottom: 8px;
}

/* Content and imported styles */
/* Side notes for calling out things
-------------------------------------------------- */

.callout {
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    color: var(--text);
    /*background-color: var(--brand-background);*/
    border: 4px solid var(--orange);
    border-radius: 5px;
    box-sizing: border-box;
    color: var(--brand-text);
}

.callout .callout-heading {
  font-size: 30px;
  padding-bottom: 15px;
  font-weight: 300;
}

.nav-link-individual a {
  text-decoration: none;
}

.toc ol {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.toc ol li {
  list-style-type: none;
  padding: 5px 0
}

.toc ol li a {
  text-decoration: none;
}

.toc ol li ol {
  margin-bottom: -5px;
  padding-left: 10px;
}

#mobile_toc {
  display: none;
  padding: 25px 0 15px;
  border-bottom: 1px solid var(--text);
}

#mobile_toc details summary {
  font-weight: 700;
}

#mobile_toc details .toc ol {
  list-style-type: none; 
  padding: 0;
  margin: revert;
}

#mobile_toc details .toc ol li {
  list-style-type: none;
  padding: 5px 0
}

#mobile_toc details .toc ol li a {
  text-decoration: none;
}

#mobile_toc details .toc ol li ol {
  margin-bottom: -5px;
  padding-left: 10px;
}

#mobile_aside {
  display: none;
}

#mobile_aside .aside-section {
  border-top: 1px solid var(--text);
}

.logo-section {
  overflow: hidden;
  width: 100%;
  background-color: var(--bright);
}

.logo-section img {
  padding: 30px;
  height: 40px;
}

.logo-container {
  display: flex;
  animation: scroll 40s linear infinite alternate;  /* The 'alternate' value makes the animation reverse direction every cycle */
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }  /* This value should be the total width of all the logos */
}



/* Media */

@media (max-width: 900px) {

  body {
    font-size: 16px;
  }
  
  h2 { font-size: 30px; }
  h3 { font-size: 24px; }
  h4 { font-size: 18px; }
  h5 { font-size: 18px; }
  
  :is(article :is(h1, h2, h3, h4, h5, h6)) a::after {
    font-size: 12px;
  }

  #searchField {
    font-size: 20px;
  }

  .mobile-hidden {
    display: none;
  }

  #mobile_aside {
    display: inherit;
    grid-column-start: 1;
  }

  #mobile_toc {
    display: inherit;
  }

  #mobile_menu {
    display: inherit;
  }

  #corner_menu {
    display: unset;
    justify-self: end;
  }

  #menu_modal {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  #menu_modal.visible {
    opacity: 1;
    visibility: visible;
  }
  
  #menu_modal ul {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #menu_modal a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;
  }
  
  #menu_close {
    position: absolute;
    top: 40px;
    right: 25px;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    background: var(--background);
    color: var(--text);
    box-shadow: none;
  }

  #navbar {
    grid-template-columns: 1fr 60px 60px 60px;
    padding: 10px 20px;
    font-size: 20px;
  }

  #darktoggle {
    justify-self: end;
    cursor: pointer;
  }

  #corner_search {
    grid-column-start: 2;
    justify-self: end;
  }

  #bayton_logo {
    padding: unset;
  }

  #intro_heading, #intro_text, #intro_android {
    grid-area: auto;
    border: none;
  }

  #intro_heading {
    font-size: 50px;
    padding-bottom: 30px;
  }

  #intro_android {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #post_container, #android-doc-container, #af_group, #af_group_split, #dpc_extras, #intro_block, #doc_container {
    grid-template-columns: 1fr;
    grid-column-gap: unset;
  }

  #vendor_logo_container {
    grid-template-columns: repeat(4, 1fr);
  }

  #vendor_disclaimer {
    font-size: 10px;
    padding-top: 15px;
  }

  .home-section {
    padding: 50px 0
  }

  #footer_logos {
    max-width: 500px;
  }

}

@media (max-width: 390px) {
  #intro_heading {
    font-size: 36px;
  }
}

#aside {
  font-size: 18px;
}

.aside-title h2 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 28px;
}

.aside-section ul li a {
  text-decoration: none;
}

.aside-section ul li {
  padding: 5px 0;
}

.aside-section ul {
  padding-left: 0;
  list-style: none;
  list-style-type: none;
}

.docnav-topic-title {
  font-weight: 700;
}

.docnav-topic-title:hover {
  cursor: pointer;
}

.aside-title.increased-top-padding {
  padding-top: 40px;
}

ul.gitlog-list {
  margin-top: 0;
}

.gitlog-time {
  font-weight: 700;
}

a.gitlog-title {
  display:block;
  text-transform: lowercase;
  font-size: 16px;
}

.section-title {
  margin: 0; 
  font-size: 36px;
  font-weight: 600;
  padding: 0;
}

.post-archive {
  padding-top: 40px;
  float: right;
}

.search-results {
  padding: 0 0 0 0.25em;
}

.search-results > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.search-results > ul > li {
  margin-bottom: 1em;
}

.search-results a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.search-results a:hover {
opacity: 0.8;
}

.search-results h2 {
margin-bottom: 0.5rem;
}

.search-results p:not(.search-no-results) {
font-weight: 400;
font-size: 1rem;
margin-top: 0;
}

.search-no-results {
margin-top: 1.5rem;
font-size: 1.25rem;
}

#search-field {
position: relative;
}
/* Search input spinner */
#debouncing {
position: absolute;
top: 2.2rem;
right: 1.2rem;
width: 2rem;
height: 2rem;
border-radius: 50%;
background: conic-gradient(#0000 1%, #444);
-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
animation: spinner 500ms infinite linear;
}
@keyframes spinner {
to {
  transform: rotate(1turn);
}
}

.year-heading {
  font-weight: 900;
}

.post-meta-base {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 0;
}

.post-meta-base-left {
  justify-self: start
}
.post-meta-base-right {
  justify-self: end
}

.meta-tiny {
  font-size: 10px;
  display: block;
  padding-bottom: 3px;
}

.meta-single svg {
  width: 20px;
}

.meta-single .meta-tiny svg {
  width: 10px;
}

.base-title {
  font-size: 80px;
  font-weight: 900;
  line-height: 66pt;
}

#aside_docs {
  padding-top: 30px;
}

#android_doc_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

#android_doc_grid .android-doc-grid-group {
  padding: 10px;
  background-color: var(--blue);
  border-radius: 5px;
  display: grid;
  grid-template-rows: min-content;
}

#android_doc_grid .android-doc-grid-group h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}
#android_doc_grid .android-doc-grid-group .android-topic ul { 
  list-style-type: none;
  padding-left: 0;
}

#android_doc_grid .android-doc-grid-group .android-topic ul li {
  padding: 0 0 15px;
}

#android_doc_grid .android-doc-grid-group .android-topic ul li::marker {
  content: "";
}

#android_doc_grid .android-doc-grid-group #android_viewmore {
  text-align: right;
  align-self: end;

}

section#feedback {
  grid-column: 1 / span all;
  justify-self: end;
}

section#link_out {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-gap: 30px;
}

.links-out {
  padding: 20px;
  background-color: var(--blue);
  border-radius: 5px;
  display: block;
}

@media (max-width: 900px) {
  content#doc{
      grid-template-columns: 1fr;
      grid-gap: 0;
  }

  #android_doc_grid {
      grid-template-columns: 1fr;
      grid-column-gap: 0;
  }

  section#feedback, section#comment-system, section#link_out, section#note_overview {
      grid-column-start: 1;
  }

  .meta-single {
      font-size: 14px;
  }

  .base-title {
      font-size: 30px;
      line-height: unset;
  }
}

@media (max-width: 390px) {

  .section-title {
    font-size: 30px;
  }
}