/*core*/

:root {
  --light: #c9c9c9;
  --dark: #333333;
  --bright: #ffffff;
  --text: #333333;
  --background: #ffffff;
  --blue: #f0f8ff;
  --orange: #ff4500
}

[data-theme="dark"] {
  --light: #2d2d2d;
  --dark: #292929;
  --bright: #CFCFCF;
  --text: #cfcfcf;
  --background: #000000;
  --blue: #00284c;
  --orange: #ce3800;

}

[data-theme="light"] .bayton-logo-dark {
  display: none;
}

[data-theme="dark"] .bayton-logo-light {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --light: #2d2d2d;
    --dark: #292929;
    --bright: #CFCFCF;
    --text: #cfcfcf;
    --background: #000000;
    --blue: #00284c;
}

  [data-theme="light"] {
    --light: #c9c9c9;
    --dark: #333333;
    --bright: #ffffff;
    --text: #333333;
    --background: #ffffff;
    --blue: #f0f8ff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --light: #c9c9c9;
    --dark: #333333;
    --bright: #ffffff;
    --text: #333333;
    --background: #ffffff;
    --blue: #f0f8ff;
  }

  [data-theme="dark"] {
    --light: #2d2d2d;
    --dark: #292929;
    --bright: #CFCFCF;
    --text: #cfcfcf;
    --background: #000000;
    --blue: #00284c;
  }
}

body {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-display: fallback;
  color: var(--text);
  margin: 0;
  background-color: var(--background);
}

img { max-width: 100%; display: block;}

content img { border-radius: 5px; }

audio { width: 80%; min-width: 300px; }

h1, h2, h3, h4, h5, h6 {
font-weight: 500;
padding: 0;
}

h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }

:is(h1, h2, h3, h4, h5) a {
  text-decoration: none;
  border-bottom: none;
}

:is(article :is(h1, h2, h3, h4, h5, h6)) a::after {
  content: "\f13d";
  font-size: 17px;
  vertical-align: super;
  padding-left: 10px;
  font-family: 'Font Awesome 5 Pro';
  cursor: pointer;
  display: none;
  transition: all 0.2s ease;
}

:is(article :is(h1, h2, h3, h4, h5, h6)) a:hover {
  all: unset;
}

:is(article :is(h1, h2, h3, h4, h5, h6)) a:hover::after {
  display: inherit;
  transition: all 0.2s ease;
}

blockquote {
  background: var(--blue);
  padding: 20px 20px 20px 40px;
  margin: 20px 0;
  border-radius: 5px;
  color: var(--text);
  position: relative;
}

blockquote::before{
  content: "\201C";
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

a {
  color: inherit;
}

a.active {
  color: var(--orange);
}

a:hover {
  opacity: 0.8;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid var(--text);
}

*:focus {
  outline: 0;
}

cite {
  display: block;
  padding-top: 10px;
  font-size: 15px;
  color: #929292;
}

code {
  font-family: monospace;
  color: var(--bright);
  background-color: #00284c;
  border-radius: 6px;
  padding: 2px 7px;
  overflow-wrap: anywhere;
  overflow-x: scroll;
}

pre {
  font-family: monospace;
  background: #333;
  color: var(--bright);
  background-color: #00284c;
  border-radius: 6px;
  padding: 16px;
  overflow-wrap: anywhere;
  overflow-x: scroll;
}

pre code {
  background: none;
  border: none;
  padding: 0;
}

.button {
  background-color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 15px;
  box-sizing: border-box;
  color: var(--bright);
  cursor: pointer;
  display: inline-block;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
}

.button-small {
  border-radius: 8px;
  padding: 4px 8px;
}

::-webkit-input-placeholder { color: #dbdbdb; }
::-moz-placeholder { color: #dbdbdb; }
::placeholder { color: #dbdbdb; }

.extra-bold {
  font-weight: 900!important;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

.no-padding {
  padding: 0!important;
}

button {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  box-shadow: #00000016 0px 3px 8px;
  transition: all 0.2s ease;
  border: 0;
}

#darktoggle, #corner_search {
  justify-self: center;
  padding: 10px;
}

#bayton_logo {
  justify-self: start;
}

#bayton_logo img {
  width: 170px;
}

#platinum_logo {
  padding: 20px 0 0;
}

#platinum_logo img {
  width: 30px;
  margin: 0 auto;
}

#bayton_text {
  font-family: 'Parisienne', cursive;
  font-weight: 300;
  font-size: 20px;
  padding-top: 5px;
  color: var(--text);
  text-indent: 10px;
}

#navbar {
  display: grid;
  padding: 15px 20px 15px;
  grid-template-columns: 180px 40px 5fr 60px 60px;
  color: var(--text);
  align-items: center;
  height: 100px;
  max-width: 1200px;
  margin: 0 auto;
}

nav #nav_links {
  padding-top: 5px;
  font-size: 16px;
  padding-right: 20px;
  justify-self: end;
  grid-column-start: 3;
}

#nav_links a {
  text-decoration: none;
  transition: none;
  padding-left: 20px;
  border-bottom: none;
}

.nav-link-individual {
  display: inline;
}

content {
  padding: 30px 40px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  color: var(--text);
  overflow-wrap: break-word;
}

content#home {
  display: grid;
}

#banner_statement {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  font-size: 16px;
  color: #7a7a7a;
}

.banner-statement-individual {
  text-align: center;
}

#Jason_Bayton {
  font-family: 'Parisienne', cursive;
  font-weight: 300;
  font-size: 90px;
  padding-top: 5px;
  color: var(--text);
  text-align: center;
  padding: 60px 0 100px;
  justify-self: center;
}

#Jason_Bayton img {
  width: 500px;
  height: 288px;
}

#intro_block {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 20px;
}

#intro_heading {
  grid-area: 2/1/2/2;
  font-weight: 900;
  font-size: 80px;
}

#intro_heading p {
  margin: 0;
}

#intro_text {
  grid-area: 3/1/3/3;
}

#intro_text details summary {
  font-weight: 900;
  font-size: 25px;
  padding-top: 30px;
}

#intro_android {
  grid-area: 2/2/3/3;
  text-align: center;
  font-size: 24px;
  padding: 10px;
  background-color: var(--blue);
  border-radius: 5px;
}

#android_head {
  width: 140px;
  height: 116px;
  margin: 0 auto;
  padding-top: 20px;
}

#header_banner {
  background-color: #000000;
  display: grid;
  justify-content: center;
  justify-items: center;
  padding: 10px;
  grid-template-columns: 67px 30px 67px;
  align-items: center;
  color: var(--bright);
}

#well_hey img {
  max-width: 50px;
  margin: 0;
}

:is(.heading-wrapper :is(h1, h2, h3, h4)) {
  display: inline;
}

.home-section {
  padding: 100px 0 0;
}

.year-block {
  padding-bottom: 30px;
}

section#page_content {
  min-height: 600px;
  overflow-x: hidden;
}

.post-block {
  padding: 15px 0;
}

.post-block-extra {
  padding: 30px 0;
}

.post-block-extra img {
  padding: 20px 0;
}

.post-title {
  margin: 0;
  font-weight: 400;
}

.post-summary {
  opacity: 0.7;
}

.post-meta {
  padding: 10px 0;
  display: block;
}

.post-meta-condensed { 
  font-size: 18px;
}

.post-meta-condensed > .meta-single {
  display: inline;
  padding-right: 20px;
}

#android_post_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-gap: 40px;
}

.android-topic ul li::marker {
  content: "\f17b";
  font-family: "Font Awesome 5 Brands";
  color: #78c657;
  padding-right: 5px;
}

.android-topic ul {
  padding-inline-start: 25px;
}

.android-topic ul li {
  padding: 0 8px 15px;
}

.android-topic ul li a {
  text-decoration: none;
}

.field {
  padding: 40px 0;
}

#searchField {
  padding: 15px;
  font-size: 24px;
  border-radius: 5px;
  width: 100%;
}

#searchField::placeholder {
  color: var(--light)
}

button#back_button, button#next_button {
  font-size: 22px;
  padding: 10px 40px;
  margin: 0 40px;
}

section#trusted_logos #trusted_container {
  margin: 0 auto;
}

#android-doc-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding-top: 40px;
}

.trusted-tag {
  font-size: 18px;
  padding-top: 10px;
  font-weight: 500;
}

#vendor_logo_container {
  padding: 20px 30px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row;
  background: var(--bright);
  border-radius: 5px;
  margin-top: 50px;
  grid-gap: 30px
}

.vendor-logo {
  align-self: center;
  justify-self: center;
}

.vendor-logo img {
  max-width: 100%;
  width: 116px;
}

#vendor_disclaimer {
  font-size: 12px;
  text-align: center;
  padding-top: 8px;
}

#post_container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;
}

.meta-tag {
  padding-right: 10px;
  text-transform: lowercase;
  color: var(--orange);
}

.eleventy-plugin-youtube-embed {
  margin: 30px 0;
}

.eleventy-plugin-twitter-embed {
  margin: 30px 0;
}

.dpc-vendor b {
  display: block;
}

.dpc-vendor img {
  float: left;
  padding-right: 10px;
  border-radius: 0;
}

#dpc_extras {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  padding-bottom: 30px;
}

.tag-more-link {
  padding: 20px 0;
  display: block;
  color: var(--orange);
}

#content_report {
  float: right;
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

footer {
  padding: 120px 0 0;
  text-align: center;
}

#social_icons {
  font-size: 30px;
  display: inline;
}

#made_by {
  text-align: center;
  padding: 40px 30px 10px;
}

#made_by a {
  text-decoration: none;
  color: var(--bright);
}

#footer_logos {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

#footer_logos #vendor_logo_container {
  margin-top: 0;
}

#footer_logo_text {
  padding-bottom: 8px;
}

/* Content and imported styles */
/* Side notes for calling out things
-------------------------------------------------- */

.callout {
    background: var(--light);
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    color: var(--text);
}

.callout .callout-heading { /* .callout-heading */
  font-size: 30px;
  padding-bottom: 15px;
  font-weight: 300;
}

.callout-primary { background-color: var(--orange); color: var(--bright); }
.callout-success { background-color: var(--orange); color: var(--bright); }
.callout-danger { background-color: var(--orange); color: var(--bright); }
.callout-warning { background-color: var(--orange); color: var(--bright); }
.callout-info { background-color: var(--orange); color: var(--bright); }
.callout-dark { background-color: var(--orange); color: var(--bright); }

/*Tocbot*/

.toc{overflow-y:auto}
.toc>.toc-list{overflow:hidden;position:relative}
.toc>.toc-list li{list-style:none}
.toc-list{margin:0;padding:0;}
.is-position-fixed{position:fixed !important;top:0}
.toc-link::before{background-color:#EEE;content:' ';display:inline-block;height:inherit;left:0;margin-top:-1px;position:absolute;width:2px}
ul.toc-list {list-style-type: none;}
ul.toc-list li {list-style-type: none;padding: 5px 0}
ul.toc-list li ul {margin-bottom: -5px;padding-left:10px;}
#inline_toc { display: none; }
a.toc-link { text-decoration: none; }

#mobile_tag {
  display: none;
  font-size: 16px;
  color: var(--bright);
}

#mobile_menu {
  display: none;
  padding: 0 30px;
  text-align: right;
  margin-top: -20px;
  font-weight: 400;
}

#mobile_menu details summary::marker {
  content: "";
}

#mobile_menu_links {
  padding-top: 10px;
}

#mobile_menu_links .nav-link-individual {
  display: block;
  padding: 5px 0;
}

.nav-link-individual a {
  text-decoration: none;
}

#mobile_toc {
  display: none;
  padding: 25px 0 15px;
  border-bottom: 1px solid var(--text);
}

#mobile_toc details summary {
  font-weight: 700;
}

#mobile_toc details .toc ol {
  list-style-type: none; 
  padding: 0;
}

#mobile_toc details .toc ol li {
  list-style-type: none;
  padding: 5px 0
}

#mobile_toc details .toc ol li a {
  text-decoration: none;
}

#mobile_toc details .toc ol li ol {
  margin-bottom: -5px;
  padding-left: 10px;
}

#mobile_aside {
  display: none;
}

#mobile_aside .aside-section {
  border-top: 1px solid var(--text);
}

#trusted_textgroup {
  padding-bottom: 30px;
}

/* Media */

@media (max-width: 1550px) {

}

@media (min-width: 1300px) {


}

@media (max-width: 900px) {

  .mobile-hidden {
    display: none;
  }

  #mobile_aside {
    display: inherit;
    grid-column-start: 1;
  }

  #mobile_toc {
    display: inherit;
  }

  #mobile_menu {
    display: inherit;
  }

  #navbar {
    grid-template-columns: 1fr 60px 60px 60px;
    padding: 10px 20px;
  }

  #darktoggle {
    justify-self: end;
    cursor: pointer;
  }

  #corner_search {
    grid-column-start: 3;
    justify-self: end;
  }

  .platinum-logo-right {
    justify-self: end;
    display: none;
  }

  #banner_statement {
    font-size: 14px;
  }

  #bayton_logo {
    padding: unset;
  }

  #intro_block {
    grid-template-columns: 1fr;
  }

  #intro_heading, #intro_text, #intro_android {
    grid-area: auto;
    border: none;
  }

  #intro_heading {
    font-size: 50px;
    padding-bottom: 30px;
  }

  #intro_android {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #post_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: unset;
  }

  #dpc_extras {
    grid-template-columns: 1fr;
  }

  #android-doc-container {
    grid-template-columns: 1fr;
    grid-gap: unset;
  }

  #vendor_logo_container {
    grid-template-columns: repeat(4, 1fr);
  }

  #vendor_disclaimer {
    font-size: 10px;
    padding-top: 15px;
  }

  .home-section {
    padding: 50px 0
  }

  #footer_logos {
    max-width: 500px;
  }

}

@media (max-width: 350px) {

}

@media (max-width: 300px) {

}
