content#doc {
    display: grid;
    grid-template-columns: 1.3fr 4fr;
    padding-top: 60px;
    grid-gap: 30px;
}

content#page {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 60px;
}

content#search {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 60px;
}

content#archive {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 60px;
}

#aside {
    font-size: 18px;
}

.aside-title h2 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 28px;
}

.aside-section ul li a {
    text-decoration: none;
}

.aside-section ul li {
    padding: 5px 0;
}

.aside-section ul {
    padding-left: 0;
    list-style: none;
    list-style-type: none;
}

.docnav-topic-title {
    font-weight: 700;
}

.docnav-topic-title:hover {
    cursor: pointer;
}

.aside-title.increased-top-padding {
    padding-top: 40px;
}

ul.gitlog-list {
    margin-top: 0;
}

.gitlog-time {
    font-weight: 700;
}

a.gitlog-title {
    display:block;
    text-transform: lowercase;
    font-size: 16px;
}

.section-title {
    margin: 0; 
    font-size: 36px;
    font-weight: 600;
    padding: 0;
}

.post-archive {
    padding-top: 40px;
    float: right;
}

.search-results {
    padding: 0 0 0 0.25em;
}

.search-results > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search-results > ul > li {
    margin-bottom: 1em;
}

.search-results a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}

.search-results a:hover {
  opacity: 0.8;
}

.search-results h2 {
  margin-bottom: 0.5rem;
}

.search-results p:not(.search-no-results) {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0;
}

.search-no-results {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

#search-field {
  position: relative;
}
/* Search input spinner */
#debouncing {
  position: absolute;
  top: 2.2rem;
  right: 1.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: conic-gradient(#0000 1%, #444);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: spinner 500ms infinite linear;
}
@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

.year-heading {
    font-weight: 900;
}

.post-meta-base {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0;
}

.post-meta-base-left {
    justify-self: start
}
.post-meta-base-right {
    justify-self: end
}

.meta-tiny {
    font-size: 10px;
    display: block;
    padding-bottom: 3px;
}

.meta-single svg {
    width: 20px;
}

.meta-single .meta-tiny svg {
    width: 10px;
}

.base-title {
    font-size: 80px;
    font-weight: 900;
    line-height: 66pt;
}

#aside_docs {
    padding-top: 30px;
}

#android_doc_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

#android_doc_grid .android-doc-grid-group {
    padding: 10px;
    background-color: var(--blue);
    border-radius: 5px;
    display: grid;
    grid-template-rows: min-content;
}

#android_doc_grid .android-doc-grid-group h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
#android_doc_grid .android-doc-grid-group .android-topic ul { 
    list-style-type: none;
    padding-left: 0;
}

#android_doc_grid .android-doc-grid-group .android-topic ul li {
    padding: 0 0 15px;
}

#android_doc_grid .android-doc-grid-group .android-topic ul li::marker {
    content: "";
}

#android_doc_grid .android-doc-grid-group #android_viewmore {
    text-align: right;
    align-self: end;

}

section#feedback {
    grid-column: 1 / span all;
    justify-self: end;
}

section#link_out {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 30px;
}

.links-out {
    padding: 20px;
    background-color: var(--blue);
    border-radius: 5px;
    display: block;
}

section#comment-system {
    grid-column-start: 2;
    /* this may cause issues */
}

@media (max-width: 900px) {
    content#doc{
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    #android_doc_grid {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }

    section#feedback, section#comment-system, section#link_out {
        grid-column-start: 1;
    }

    .meta-single {
        padding-right: 10px;
        font-size: 14px;
    }

    .base-title {
        font-size: 40px;
        line-height: unset;
    }
}
