content#doc {
    display: grid;
    grid-template-columns: 1.3fr 4fr;
    padding-top: 60px;
    grid-gap: 30px;
}

content#page {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 60px;
}

content#search {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 60px;
}

content#archive {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 60px;
}

#aside {
    font-size: 18px;
}

.aside-title h2 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 28px;
}

#aside_docs ul li a {
    text-decoration: none;
}

#aside_docs ul li {
    padding: 5px 0;
}

#aside_docs ul {
    padding-left: 0;
    list-style: none;
    list-style-type: none;
}

.docnav-topic-title {
    font-weight: 700;
}

.section-title {
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    padding: 0;
}

.year-heading {
    font-weight: 900;
}

.post-meta-base {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0;
}

.post-meta-base-left {
    justify-self: start
}
.post-meta-base-right {
    justify-self: end
}

.meta-tiny {
    font-size: 10px;
    display: block;
    padding-bottom: 3px;
}

.meta-single svg {
    width: 20px;
}

.meta-single .meta-tiny svg {
    width: 10px;
}


.base-title {
    font-size: 80px;
    font-weight: 900;
    line-height: 66pt;
}

#aside_docs {
    padding-top: 30px;
}

#android_doc_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
}

section#feedback {
    grid-column: 1 / span all;
    justify-self: end;
}

section#comment-system {
    grid-column-start: 2;
    /* this may cause issues */
}

#search #feedback {
    padding-top: 80px;
}


@media (max-width: 900px) {
    content#doc{
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    #android_doc_grid {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
    }

    section#feedback, section#comment-system {
        grid-column-start: 1;
    }

    .meta-single {
        padding-right: 10px;
        font-size: 14px;
    }

    .base-title {
        font-size: 40px;
        line-height: unset;
    }

    /*   .post-meta-base {
        display: unset;
    }*/
}
