.desktop-hidden {
  display: none;
}

.desktop-grid {
  display: grid;
}

@media (max-width: 900px) {
 
  .mobile-hidden {
    display: none;
  }

  .desktop-hidden {
    display: unset;
  }
  
  .mobile-grid {
    display: grid;
  }

}

