/* Let's start with GRID */

.grid {
    display: grid;
}

.grid-gap-30 {
    grid-gap: 30px;
}

.grid-column-1 {
    grid-template-columns: 1fr;
}

.grid-column-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-column-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-column-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-column-1-2 {
    grid-template-columns: 1fr 2fr;
}

.grid-column-2-1 {
    grid-template-columns: 2fr 1fr;
}

.grid-column-1-3 {
    grid-template-columns: 1fr 3fr;
}

.grid-column-3-1 {
    grid-template-columns: 3fr 1fr;
}

.grid-row-start-1 {
    grid-row: 1/2;
}

.grid-align-left {
    justify-self: left;
}

.grid-align-right {
    justify-self: right;
}

.grid-align-center {
    justify-self: center;
}

.grid-align-top {
    align-self: top;
}

.grid-align-bottom {
    align-self: bottom;
}

.grid-align-middle {
    align-self: center;
}

@media (max-width: 900px) {

  .grid-column-mobile-1 {
		    grid-template-columns: 1fr;
	}

  .grid-column-mobile-2 {
		    grid-template-columns: 1fr 1fr;
	}

  .grid-row-start-mobile-1 {
        grid-row: 1/2;
  }

   .grid-align-mobile-unset {
        justify-self: unset;
        align-self: unset;
  }
}