---
layout: archive.njk
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - blog
    - all
permalink: "/tags/{{ tag | slugify }}/" 
---

<div class="section-title">
    #{{ tag }}
</div>

{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}

<div class="post-block">
    <div class="post-meta">
        <div class="meta-single">
            {% for tag in post.data.tags %}
            {% if not tag.includes("blog") %}
            #<a class="meta-tag" href="/tags/{{ tag | slugify }}/"> {{ tag }} </a>
            {% endif %}
            {% endfor %}     
        </div>
    </div>
    <h3 class="post-title">
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h3>
    <div class="post-meta">
        <div class="meta-single">
            {{ post.date | postDate }}
        </div>
    </div>    
    {% if post.data.excerpt|length %}
    <div class="post-summary">
        {{ post.data.excerpt }}
    </div>
    {% endif %}
</div>
{% endfor %}