---
layout: archive.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---

<div class="section-title">
    #{{ tag }}
</div>

{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}

<div class="post-block">
    <h3 class="post-title">
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h3>
    {% if post.data.excerpt|length %}
    <div class="post-summary">
        {{ post.data.excerpt }}
    </div>
    {% endif %}
    <div class="post-meta">
        <div class="meta-single">
            🗓 {{ post.date | postDate }}
        </div>
        <div class="meta-single">
            🏷 #{{ post.data.tags }}               
        </div>
        <div class="meta-single">
            ⏳ {{ 'text' | timeToRead }}                
        </div>   
    </div>
</div>
{% endfor %}