---
title: Blog
date: '2022-07-30'
status: publish
author: 'Jason Bayton'
excerpt: ''
type: page
layout: archive.njk
tags: 
---

{%- for post in collections.blog | reverse -%}
<div class="post-block">
    <h3 class="post-title">
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
    </h3>
    <div class="post-summary">
        {{ post.data.excerpt }} ...
    </div>
    <div class="post-meta">
        <div class="meta-single">
            🗓 {{ post.date }}
        </div>
        <div class="meta-single">
            🏷 #{{ post.data.tags }}               
        </div>
        <div class="meta-single">
            ⏳ 37min read               
        </div>   
    </div>
</div>
{%- endfor -%}
