---
title: Tags
date: '2022-08-20'
status: publish
author: 'Jason Bayton'
excerpt: ''
type: archive
layout: base.njk
tags: 
---

{% for tag in collections.tagsList %}
{% if not tag.includes("blog") %}
{% if not tag.includes("android-docs") %}

<div class="year-block">
    <div class="section-title extra-bold">
    {{ tag }} (<a class="" href="/tags/{{ tag | slugify }}/">#{{ tag | slugify }}</a>)
    </div>
    <hr>
    {% set taglist = collections[ tag ] %}
    {% for post in taglist | reverse %}
    {%- if loop.index0 < 4 %} 

    <div class="post-block">
        <div class="post-meta post-meta-condensed">
            <div class="meta-single">
                {{ post.date | dateFull }}
            </div>
            <div class="meta-single">
                {% for tag in post.data.tags %}
                {% if not tag.includes("blog") %}
                #<a class="meta-tag" href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <h3 class="post-title">
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </h3>  
        {% if post.data.excerpt|length %}
        <div class="post-summary">
            {{ post.data.excerpt }}
        </div>
        {% endif %}

    </div>
{% endif %}
{% endif %}
{% endfor %}
    <a class="tag-more-link" href="/tags/{{ tag | slugify }}/">...view more ✍️</a>
</div>
{% endif %}
{% endfor %}